<!-- This file has following objects with it
exams ( from course model)
courses ( all courses ,course model)
-->
{% extends "__ecBase.html" %}

<html>
    {% load staticfiles %}
    {% load crispy_forms_tags %}
    {% load thumbnail %}

    <head>
        <link href="{% static 'course/base.css' %}" rel="stylesheet">
	    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'userDashBoard/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>

    <body>

    {% block ImageSlider %}
    {% endblock ImageSlider %}

    {% block jumbotronBlock %}
    {% endblock jumbotronBlock %}

    {% block container %}


    <div class="container">

        {% if not_published %}
            <div class="alert alert-danger" role="alert" style="height:80%">
                <h4>Not authorized!</h4>
                <p> You are not authorized to view this content. </p>
            </div>
        {% else %}
        <div class="card bg-course-detail-card">
            <div class="course-header">
                <div class="row">
                    <div class="col">
                        <img class="card-img-top" src="{% thumbnail course_overview.picture 560x315 crop %}" hspace="20" vspace="20" alt="Card image cap">
                    </div>
                    <div class="col">
                        <div class="card-body card-course-details-body">
                            <h5 class="card-title">{{ course_overview.Name }}</h5>
                            <p class="card-text">{{course_overview.Description}}</p>
                            <hr>
                            <table>
                                <tr>
                                    <td>Subject</td>
                                    <td align="right">{{ course_overview.Subject }}</td>
                                </tr>
                                <tr>
                                    <td>Exam</td>
                                    <td align="right">{{ course_overview.Exam }}</td>
                                </tr>
                                <tr>
                                    <td>Cost</td>
                                    <td align="right"> <i class="fas fa-rupee-sign" aria-hidden="true"></i> {{ course_overview.Cost }}</td>
                                </tr>
                                <tr>
                                    <td>Duration (months)</td>
                                    <td align="right">{{ course_overview.Duration }}</td>
                                </tr>
								<tr>
								{% if course_overview.viewhours %}
                                    <td>Restricted Viewing (hrs)</td>
                                    <td align="right">{{ course_overview.viewhours }}</td>
                                </tr>
								<tr>
                                    <td>Viewed (mins)</td>
                                    <td align="right">{{ course_overview.completedminutes }}</td>
                                </tr>
								{% endif %}
        
                              </table>
                              <p class="card-text"><small class="text-muted">Published {{ course_overview.Published }}</small></p>
                              <hr>
                              {% if user.is_authenticated and not user.is_staff %}
                            {% if not course_overview.myCourse %}
							  <form method="post" action="" enctype="multipart/form-data">
							    {% csrf_token %}
								<input type="submit" name="join" class="btn btn-primary" value="Join"></input>
								{% if not course_overview.addedCourse %}
								<a class="btn btn-primary"  href="{% url 'payments:add_to_cart' course_overview.id %}">Add to Cart</a>
                                {% else %}
                                <a class="btn btn-primary"  href="{% url 'payments:delete_from_cart' course_overview.id %}">Delete from Cart</a>
								{% endif %}
							  </form>
                                <hr>
                            {% endif %}
                            {% else %}
                                {% if course_overview.myCourse %}
                                <a href="{% url 'provider:edit_course' course_overview.id %}" class="btn btn-primary btn-lg mx-2 px-2" role="button" aria-pressed="true">Edit</a>
                                <hr>
                                {% endif %}
                            {% endif %}
                            <!-- Turquoise -->
                            {% if course_overview.myCourse and not user.is_staff %}
                            <div class="progress">
                                <div class="progress-bar bg-info" style="width: {{ course_overview.progress }} ">{{ course_overview.progress }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">

            <!-- Tab panes -->
            <div class="card-body card-course-details-body">
                <h3 class="Text-Centre">Contents</h3>
                        <div class="container">
                            <div class="panel-group" id="accordion">
                                {% for subject, subValue in course_detail.items %}
                                <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                    <a role="button" data-toggle="collapse"  aria-expanded="false" data-parent="#accordion" href="#{{ subject }}">
                                        <span class="accordion-title-icon-background collapsed"><i class="accordion-title-icon fas fa-plus"></i></span>
                                        <span class="accordion-title-icon-background expanded"><i class="accordion-title-icon fas fa-minus"></i></span>
                                        {{ subject }}
                                    </a>
                                    </h5>
                                </div>
                                <div id="{{ subject }}" class="panel-collapse collapse in">
                                <div class="panel-body">

                                {% for item in subValue %}
                                {% for chapId, value in item.items %}
                                 <div class="panel">
                                   <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a role="button" data-toggle="collapse" aria-expanded="false" data-parent="#accordion" href="#{{ value.name }}:{{ subject }}">
                                            <span class="accordion-title-icon-background collapsed"><i class="accordion-title-icon fas fa-plus"></i></span>
                                            <span class="accordion-title-icon-background expanded"><i class="accordion-title-icon fas fa-minus"></i></span>
                                            {{ value.name }}
                                            <span class="badge badge-secondary" id="span-badge-sessionCnt-{{chapid}}">{{value.sessions|length}} <i class="fas fa-video"></i></i></span>
                                        </a>
                                    </h6>
                                </div>
                                   <div id="{{ value.name }}:{{ subject }}" class="collapse">
                                     <div class="panel-child-body">
                                        <div class="list-group">
                                            {% for session in value.sessions %}
                                            {% if course_overview.myCourse %}
                                                <a href="{% url 'course:playSession' chapId session.id %}" class="box-no-border list-group-item">
                                                    <i class="fa fa-play fa-fw" style="padding-right:10px"></i>
                                                    {{ session.name }}
                                                </a>
                                            {% else %}
                                                <div class="box-no-border list-group-item">
                                                    <i class="fa fa-lock fa-fw" style="padding-right:10px"></i>
                                                    {{ session.name }}
                                                </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                     </div>
                                   </div>
                                 </div>
                                {% endfor %}
                                {% endfor %}
                                </div>
                                </div>
                            </div>
                                {% endfor %}
                                <br>
                            </div>
                        </div>

            </div>
        </div>

        {% endif %}

    {% include "courseReview.html" with course_id=course_overview.id reviewSummary=reviewSummary userReviewList=userReviewList %}

    </div>


    {%  endblock container %}

    </body>
</html>
