<!-- This file has following objects with it
exams ( from course model)
courses ( all courses ,course model)
-->
{% extends "__ecBase.html" %}

<html>
    {% load staticfiles %}
    {% load crispy_forms_tags %}
    {% load thumbnail %}

    <head>
        <link href="{% static 'course/base.css' %}" rel="stylesheet">
	    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'userDashBoard/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>

    <body>

    {% block ImageSlider %}
    {% endblock ImageSlider %}

    {% block jumbotronBlock %}
    {% endblock jumbotronBlock %}

    {% block container %}


    <div class="container">

        {% if not_published %}
            <div class="alert alert-danger" role="alert" style="height:80%">
                <h4>Not authorized!</h4>
                <p> You are not authorized to view this content. </p>
            </div>
        {% else %}
        <div class="card bg-course-detail-card">
            <div class="course-header">
                <div class="row">
                    <div class="col">
                        <img class="card-img-top" src="{% thumbnail 'course/IIT3.jpg' 560x315 %}" hspace="20" vspace="20" alt="Card image cap">
                    </div>
                    <div class="col">
                        <div class="card-body card-course-details-body">
                            <h5 class="card-title">{{ course_overview.Name }}</h5>
                            <p class="card-text">{{course_overview.Description}}</p>
                            <hr>
                            <table>
                                <tr>
                                    <td>Subject</td>
                                    <td align="right">{{ course_overview.Subject }}</td>
                                </tr>
                                <tr>
                                    <td>Exam</td>
                                    <td align="right">{{ course_overview.Exam }}</td>
                                </tr>
                                <tr>
                                    <td>Cost</td>
                                    <td align="right"> <i class="fas fa-rupee-sign" aria-hidden="true"></i> {{ course_overview.Cost }}</td>
                                </tr>
                                <tr>
                                    <td>Duration (months)</td>
                                    <td align="right">{{ course_overview.Duration }}</td>
                                </tr>
        
                              </table>
                              <p class="card-text"><small class="text-muted">Published {{ course_overview.Published }}</small></p>
                              <hr>
                              {% if user.is_authenticated and not user.is_staff %}
                            {% if not course_overview.myCourse %}
							  <form method="post" action="" enctype="multipart/form-data">
							    {% csrf_token %}
								<input type="submit" name="join" class="btn btn-primary" value="Join"></input>
								<br>
								{% if not course_overview.addedCourse %}
								 <input type="submit" name="cart" class="btn btn-primary" value="Add to Cart"></input>
								{% endif %}
							  </form>
                            {% endif %}
                            {% else %}
                                {% if course_overview.myCourse %}
                                <a href="{% url 'provider:edit_course' course_overview.id %}" class="btn btn-primary btn-lg mx-2 px-2" role="button" aria-pressed="true">Edit</a>
                                {% endif %}
							{% endif %}
                            <hr>
                            <!-- Turquoise -->
                            {% if course_overview.myCourse and not user.is_staff %}
                            <div class="progress">
                                <div class="progress-bar bg-info" style="width: {{ course_overview.progress }} ">{{ course_overview.progress }}</div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">

            <!-- Tab panes -->
            <div class="card-body card-course-details-body">
                <h3 class="Text-Centre">Contents</h3>
                        <div class="container">
                            <div id="accordion">
                                {% for subject, subValue in course_detail.items %}
                                <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#{{ subject }}">{{ subject }}</a>
                                </div>
                                <div id="{{ subject }}" class="collapse">
                                <div class="card-body">

                                {% for item in subValue %}
                                {% for chapId, value in item.items %}
                                 <div class="card">
                                   <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#{{ value.name }}:{{ subject }}">{{ value.name }}</a>
                                   </div>
                                   <div id="{{ value.name }}:{{ subject }}" class="collapse">
                                     <div class="card-body">
                                        <div class="list-group">
                                            {% for session in value.sessions %}
                                            {% if course_overview.myCourse %}
                                                <a href="{% url 'course:playSession' chapId session.id %}" class="list-group-item">
                                                    <i class="fa fa-play fa-fw" style="padding-right:10px"></i>
                                                    {{ session.name }}
                                                </a>
                                            {% else %}
                                                <div class="list-group-item">
                                                    <i class="fa fa-lock fa-fw" style="padding-right:10px"></i>
                                                    {{ session.name }}
                                                </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                     </div>
                                   </div>
                                 </div>
                                {% endfor %}
                                {% endfor %}
                                </div>
                                </div>
                            </div>
                                {% endfor %}
                                <br>
                            </div>
                        </div>

            </div>
        </div>

        {% endif %}

    {% include "courseReview.html" with course_id=course_overview.id reviewSummary=reviewSummary userReviewList=userReviewList %}

    </div>


    {%  endblock container %}

    </body>
</html>
