<html>
	{% load staticfiles %}
    {% load crispy_forms_tags %}
    {% load thumbnail %}

    <head>
	    <script>
		var keys = {
		"a7e61c373e219033c21091fa607bf3b8":"76a6c65c5ea762046bd749a2e632ccbb",
		}
		var videoFragments = ["https://content.jwplatform.com/videos/1efAPYq9-YEhgpGO8.mp4",];
		</script>

        <script type="text/javascript" src="{% static 'eme/eme.js' %}"></script>
        <script>
		function MSELoadTrack(fragments, type, mediaSource, name) {
			return new Promise(function(resolve, reject) {
			var sourceBuffer;
			var curFragment = 0;
			function addNextFragment() {if (mediaSource.readyState == "closed") {return;}
			if (curFragment >= fragments.length) {resolve();return;}
			var fragmentFile = fragments[curFragment++];
			var req = new XMLHttpRequest();
			req.open("GET", fragmentFile);
			req.responseType = "arraybuffer";
			req.addEventListener("load", function() {sourceBuffer.appendBuffer(new Uint8Array(req.response));});
			req.addEventListener("error", function(){reject();});
			req.addEventListener("abort", function(){reject();});
			req.send(null);
		}
		sourceBuffer = mediaSource.addSourceBuffer(type);
		sourceBuffer.addEventListener("updateend", addNextFragment);
		addNextFragment();
		});
		}
		</script>
    </head>

    <body>

		<video id="v" controls preload="auto" width="80%" height="80%"></video>
		<div id="log"></div>

	<script>
      const KEYSYSTEM_TYPE = "org.w3.clearkey";
      function Load() {
        if (!navigator.requestMediaKeySystemAccess) {
          return;
        }
        var video = document.getElementById("v");
        [ "canplay", "canplaythrough", "encrypted", "ended", "error", "loadeddata",
          "loadedmetadata", "loadstart", "pause", "play", "playing", "progress",
          "stalled", "suspend", "waiting",
        ].forEach(function (e) {
          v.addEventListener(e, function(event) {
          }, false);
        });
        var options = [];
        const videoContentType = 'video/mp4; codecs="avc1.64001F"'; // High profile level 3.1
        if (typeof(MediaKeySystemAccess.prototype.getConfiguration) == "undefined") {
          options = [
            {
              initDataType: "cenc",
              videoType: videoContentType,
            }
          ];
        } else {
          options = [
            {
              initDataTypes: ["cenc"],
              videoCapabilities: [{contentType: videoContentType}],
            }
          ];
        }
        SetupEME(video, KEYSYSTEM_TYPE, "video", keys, options);
        var ms = new MediaSource();
        video.src = URL.createObjectURL(ms);
        var SourceOpen = function () {
          ms.removeEventListener("sourceopen", SourceOpen);
          Promise.all([MSELoadTrack(videoFragments, videoContentType, ms, "video")])
            .then(function(){ms.endOfStream();});
        }
        ms.addEventListener("sourceopen", SourceOpen);
        video.addEventListener("canplay", function(){video.play();});
      }
      Load();
    </script>
    </body>
</html>
