{% extends "__ecBase.html" %}
<html>
    {% load staticfiles %}

	{% block ImageSlider %}
    {% endblock ImageSlider %}

    {% block jumbotronBlock %}
    {% endblock jumbotronBlock %}

    {% block container %}

	{% block content %}
	<script src="{% static 'access/access.js' %}"></script>
	<div style="position:relative; padding-bottom:56.25%; overflow:hidden;">
	  <iframe id="jwplayer" width="75%" height="75%" frameborder="0" scrolling="auto" allowfullscreen style="position:absolute;"></iframe>
	</div>

	<script type="text/javascript">
	window.onload = function() {
	var deviceJSON = getDeviceInfo();
	var url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/access/allow/{{user.id}}/" + deviceJSON;
	var xmlHttp = new XMLHttpRequest();
	xmlHttp.open("GET", url, false);
    xmlHttp.send(null);
	
	var accepted = (/True/).test(xmlHttp.responseText);
	if (accepted) {
	  document.getElementById("jwplayer").src = "https://content.jwplatform.com/players/" + "{{videoid}}" + "-zRzB2xDB.html";
	}
	else {
	  alert("This device is unknown. Authenticate yourself by the link sent to your email.");
	}
    }
    </script>
    {%  endblock %}
	{%  endblock container %}
</html>

