{% extends "__ecBase.html" %}
<html>
    {% load staticfiles %}

    {% block ImageSlider %}
    {% endblock ImageSlider %}

    {% block jumbotronBlock %}
    {% endblock jumbotronBlock %}

    {% block container %}

    {% block content %}
    <script src="{% static 'access/access.js' %}"></script>
    <script src="{% static 'rest_framework/coreapi-0.1.1.js' %}"></script>
    <script src="https://cdn.jwplayer.com/libraries/gaa0kHCU.js"></script>
    <script type="text/javascript" src="{% static 'eme/eme.js' %}"></script>

<div class="container-full">
    <div class="row">
            <div class="col-lg-8 col-xs-12 col-sm-12 col-md-12">
                <h2>{{ course.name }}</h2>
                <div id="jwplayerDiv">
                    <video id="encplayer" controls preload="auto" width="80%" height="80%"></video>
                </div>
                <h4>{{ session.name }}</h4>

            </div>
            <div class="col-lg-4 col-xs-12 col-sm-12 col-md-12">
                <h2>{{ ContentHeading }}</h2>
                <div class="container">
                <div class="panel-group" id="accordion">
                {% for subj, subjdetails in coursedetails.items %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6 class="panel-title">
                                <a role="button" data-toggle="collapse"  aria-expanded="true" data-parent="#accordion" href="#{{ subj }}">
                                    <span class="accordion-title-icon-background collapsed"><i class="accordion-title-icon fas fa-plus"></i></span>
                                    <span class="accordion-title-icon-background expanded"><i class="accordion-title-icon fas fa-minus"></i></span>
                                    <font size="4"> {{ subj }}</font>
                                </a>
                            </h6>
                        </div>
                        <div id="{{ subj }}" class="collapse show">
                        <div class="panel-body">
                    {% for s in subjdetails %}
                    {% for chapid, chapdetails in s.items %}

                    <div class="panel">
                            <div class="panel-heading">
                             <h6 class="panel-title">
                                 <a role="button" data-toggle="collapse" aria-expanded="true" data-parent="#accordion" href="#{{ chapdetails.name }}:{{ subj }}">
                                     <span class="accordion-title-icon-background collapsed"><i class="accordion-title-icon fas fa-plus"></i></span>
                                     <span class="accordion-title-icon-background expanded"><i class="accordion-title-icon fas fa-minus"></i></span>
                                     <font size="3"> {{ chapdetails.name }}</font>
                                 </a>
                             </h6>
                         </div>
                        <div id="{{ chapdetails.name }}:{{ subj }}" class="collapse show">
                            <div class="panel-child-body">
                                <div class="list-group">
                        {% for sess in chapdetails.sessions %}
                        {% if sess.id == session.id %}
                            {% if sess.encrypted %}
                            <a href="{% url 'course:playSessionEnc' chapid sess.id %}" class="selected-item box-no-border list-group-item">
                                <i class="fa fa-pause fa-fw" style="padding-right:10px"></i><font size="2"> {{ sess.name }}</font></a>
                            {% else %}
                                <a href="{% url 'course:playSession' chapid sess.id %}" class="selected-item box-no-border list-group-item">
                                <i class="fa fa-pause fa-fw" style="padding-right:10px"></i><font size="2"> {{ sess.name }}</font></a>
                            {% endif %}
                        {% else %}
                            {% if sess.encrypted %}
                            <a href="{% url 'course:playSessionEnc' chapid sess.id %}" class="box-no-border list-group-item">
                                <i class="fa fa-play fa-fw" style="padding-right:10px"></i><font size="2"> {{ sess.name }}</font></a>
                            {% else %}
                                <a href="{% url 'course:playSession' chapid sess.id %}" class="box-no-border list-group-item">
                                <i class="fa fa-play fa-fw" style="padding-right:10px"></i><font size="2"> {{ sess.name }}</font></a>
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
                </div>
        </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
                jwplayer("jwplayerDiv").setup({
                file: "https://gyaanhive.sgp1.cdn.digitaloceanspaces.com/stream.mpd",
                drm: {
        clearkey: {
          // Remove random bit from key. Base64 version of Key or KID is not needed
          //key: '7f412f0575f44f718259beef56ec7771:0a8d9e58502141c3',
          key: '76a6c65c5ea762046bd749a2e632ccbb',
          keyId: 'a7e61c373e219033c21091fa607bf3b8'
        }},
        autostart: false,
            });
    </script>
    {%  endblock %}
    {%  endblock container %}
</html>
