/* CSS Document */

body{margin-top: 0px; margin-bottom: 10px;}

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
#myCarousel .carousel-inner>.row-equal.active, 
#myCarousel .carousel-inner>.row-equal.next, 
#myCarousel .carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
#myCarousel .carousel-inner>.row-equal.active.left, 
#myCarousel .carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}


.card-header{color:dodgerblue}


@media (min-width: 600px) {
    /* show 3 items */
    #myCarousel .carousel-inner .active,
    #myCarousel .carousel-inner .active + .carousel-item,
    #myCarousel .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
    }
  
    .carousel-inner
      .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner
      .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
      + .carousel-item,
    .carousel-inner
      .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
      + .carousel-item
      + .carousel-item {
      transition: none;
    }
  
    #myCarousel .carousel-inner .carousel-item-next,
    #myCarousel .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: rgb(70, 70, 70);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 0.5px solid rgb(70, 70, 70);
  opacity: 0.5;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: grey;
}
  
#myCarousel .carousel-inner
      .active.carousel-item
      + .carousel-item
      + .carousel-item
      + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left
      + .carousel-item
      + .carousel-item
      + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
    }
  
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right
      + .carousel-item
      + .carousel-item
      + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
    }
    
  }
  