/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }
  
/* centered columns styles */
.row-centered {
text-align:center;
}
.col-centered {
display:inline-block;
float:none;
/* reset the text-align */
text-align:left;
/* inline-block space fix */
margin-right:-4px;
}

.bg-sidebar-custom {
  background-color: #18243f !important; }

.card-course-details-body {
  flex: 1 1 auto;
  padding: 1.25rem; }

.bg-course-detail-card {
  background-color: #d1ced3 !important; }

  
  
