/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 90%; }
  
/* centered columns styles */
.row-centered {
text-align:center;
}
.col-centered {
display:inline-block;
float:none;
/* reset the text-align */
text-align:left;
/* inline-block space fix */
margin-right:-4px;
}

.bg-sidebar-custom {
  background-color: #18243f !important; }

.card-course-details-body {
  flex: 1 1 auto;
  padding: 1.25rem; }

.bg-course-detail-card {
  background-color: #d1ced3 !important; }

/***** Footer *****/

.footer-about img.logo-footer { max-width: 74px; margin-top: 0; margin-bottom: 18px; }
.footer-about p a { border: 0; }
.footer-about p a:hover, .footer-about p a:focus { border: 0; }

.footer-contact p { word-wrap: break-word; }
.footer-contact i { padding-right: 10px; font-size: 18px; color: #666; }
.footer-contact p a { border: 0; }
.footer-contact p a:hover, .footer-contact p a:focus { border: 0; }

.footer-links a { color: #aaa; border: 0; }
.footer-links a:hover, .footer-links a:focus { color: #fff; }

.footer-bottom { padding: 15px 0 0px 0; background: rgb(41, 41, 41); text-align: left; color: #aaa; }

.footer-social { padding-top: 3px; text-align: right; }
.footer-social a { margin-left: 20px; color: #777; border: 0; }
.footer-social a:hover, .footer-social a:focus { color: #79a05f; border: 0; }
.footer-social i { font-size: 24px; vertical-align: middle; }

.footer-copyright { padding-top: 5px; }
.footer-copyright a { color: #fff; border: 0; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #aaa; border: 0; }

.course-cards-div
{
  background: #fff;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.teacher-div
{
  border-radius: 15px; 
  background: repeating-linear-gradient(#d1d1d1, #d1d1d1 59.9%, #fff 60.0%, #fff 100%);
  padding-top: 1.5em;
  padding-bottom: 3em;
}

.footer-dashboard-bottom { padding: 15px 0 17px 0; background: #e9ecef;}

.single-col-text-5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 41%;
  font-size: 90%;
}

.single-col-text-5 {
  font-size: 90%;
}

.padding-0{
  padding-left:0.3em;
}

.jwplayerDiv{ 
  min-height: 435px; 
}

.container-full {
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto; }