<html>

        {% load staticfiles %}
        <head>
            <link href="{% static 'base/css/cardslider.css' %}" rel="stylesheet">
        </head>

<body>

    <div class="container">
        <h1 class="text-center mb-3">{{ category }}</h1>
            <div class="row">
                {% for currentCourse in allCourses|slice:":4" %}
                    <div class="col-sm-3">
                        <div class="card">
                            {% if user.is_staff and currentCourse.provider_id == provider_id  %}
                                <a href="{% url 'course:coursePage' currentCourse.id %}">
                            {% endif %}
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                            {% if user.is_staff %}
                                </a> 
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title"><a href="{% url 'course:coursePage' currentCourse.id %}">{{ currentCourse.name }}</a></h4>
                                <table>
                                {% if currentCourse.provider__user__name %}
                                <tr>
                                    <td>Provider: </td>
                                    <td align="right">{{ currentCourse.provider__user__name }}</td>
                                </tr>
                                {% endif %}
                                    <tr>
                                        <td>Exam: </td>
                                        <td align="right">{{ currentCourse.exam }}</td>
                                    </tr>
                                    <tr>
                                        <td>Cost (INR): </td>
                                        <td align="right">{{ currentCourse.cost }}</td>
                                    </tr>
                                    <tr>
                                        <td>Duration (months):  </td>
                                        <td align="right">{{ currentCourse.duration }}</td>
                                    </tr>

                                </table>

                                <p class="card-text"><small class="text-muted">Published: {{ currentCourse.created }}</small></p>
                                
                                <p align='center'>
                                <table width='100%'>
                                    <tr>
                                    <td>

                            {% if user.is_staff and currentCourse.provider_id == provider_id  %}
                            <form method="post" action="{% url 'provider:create_course' %}">
                                {% csrf_token %}
                                <input type="hidden" name="courseId" value="{{ currentCourse.id }}">
                                <input type=submit value="Edit" style="width:100%;">
                            {% endif %}
                                    </form>
                                    </td>
                                    </tr>
                                </table>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}
        
            </div>
    </div>

  </body>

  </html>