<html>

        {% load staticfiles %}
        <head>
            <link href="{% static 'base/css/cardslider.css' %}" rel="stylesheet">
        </head>

<body>

    <div class="container">
        <h1 class="text-center mb-3">{{ category }}</h1>
        <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner row w-100 mx-auto">
                {% for currentCourse in allCourses %}
                    {% if forloop.first %}
                        <div class="carousel-item col-md-4 active">
                    {% else %}
                        <div class="carousel-item col-md-4">
                    {% endif %}
                        <div class="card">
                            {% if user.is_staff and currentCourse.provider_id == provider_id  %}
                                <a href="{% url 'course:coursePage' currentCourse.id %}">
                            {% endif %}
                                    <img class="card-img-top img-fluid" src="http://placehold.it/800x600/f44242/fff" alt="Card image cap">
                            {% if user.is_staff %}
                                </a> 
                            {% endif %}
                            <div class="card-body">
                                <h4 class="card-title"><a href="{% url 'course:coursePage' currentCourse.id %}">{{ currentCourse.name }}</a></h4>
                                <table>
                                {% if currentCourse.provider__user__name %}
                                <tr>
                                    <td>Provider: </td>
                                    <td align="right">{{ currentCourse.provider__user__name }}</td>
                                </tr>
                                {% endif %}
                                    <tr>
                                        <td>Exam: </td>
                                        <td align="right">{{ currentCourse.exam }}</td>
                                    </tr>
                                    <tr>
                                        <td>Cost (INR): </td>
                                        <td align="right">{{ currentCourse.cost }}</td>
                                    </tr>
                                    <tr>
                                        <td>Duration (months):  </td>
                                        <td align="right">{{ currentCourse.duration }}</td>
                                    </tr>

                                </table>

                                <p class="card-text"><small class="text-muted">Published: {{ currentCourse.created }}</small></p>
                                
                                <p align='center'>
                                <table width='100%'>
                                    <tr>
                                    <td>

                            {% if user.is_staff and currentCourse.provider_id == provider_id  %}
                            <form method="post" action="{% url 'provider:create_course' %}">
                                {% csrf_token %}
                                <input type="hidden" name="courseId" value="{{ currentCourse.id }}">
                                <input type=submit value="Edit" style="width:100%;">
                            {% endif %}
                                    </form>
                                    </td>
                                    </tr>
                                </table>
                                </p>
                                
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
        
            </div>
    </div>

  </body>

  <script>
    $("#myCarousel").on("slide.bs.carousel", function(e) {
        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 3;
        var totalItems = $(".carousel-item").length;
      
        if (idx >= totalItems - (itemsPerSlide - 1)) {
          var it = itemsPerSlide - (totalItems - idx);
          for (var i = 0; i < it; i++) {
            // append slides to end
            if (e.direction == "left") {
              $(".carousel-item")
                .eq(i)
                .appendTo(".carousel-inner");
            } else {
              $(".carousel-item")
                .eq(0)
                .appendTo($(this).find(".carousel-inner"));
            }
          }
        }
      });
      
  </script>

  </html>