<!DOCTYPE html>
<html lang="en">
	{% load staticfiles %}
    {% load thumbnail %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GyaanHive -- Learn Assimilate and Excel</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="{% static 'ec/style.css' %}" rel="stylesheet">
	<link href="{% static 'base/css/cardslider.css' %}" rel="stylesheet">
	<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

	<!-- Material Design Bootstrap -->
	<link href="{% static 'base/css/style.css' %}" rel="stylesheet">
	
			<!-- Custom styles for this site -->
    {% block styles %}
 	{% endblock styles %}
	
	<!-- Custom tags for the head tag -->
    {% block extrahead %}
	{% endblock extrahead %}
</head>
<body>

<!-- Navigation -->
{% block topHeader %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'ec/img/logo.jpg' %}"></a> 
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target = "#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<!--<ul class="navbar-nav ml-auto">-->
			<ul class="navbar-nav mr-2 ml-2">
			{% if exams %}
			<li class="nav-item active dropdown">	
					<a class="nav-link" data-toggle="dropdown" id="coursesDropDown" href="#" aria-haspopup="true" aria-expanded="true">
						<i class="fa fa-university" aria-hidden="true"></i>Exams
					</a>
					<div class="dropdown-menu" aria-labelledby="coursesDropDown">
						{% for exam,exam1 in exams %}
						<a class="dropdown-item" href="{% url 'searchResults' %}?exam={{exam}}" >{{exam}}</a>
						{% endfor %}
					</div>
				</li>
			<!--	<li class="nav-item">
					<a class="nav-link" href="#">Teachers</a>
				</li> -->
		
			{% endif %}

			<li class="nav-item">
				<form class="form-inline my-2 my-lg-0 mr-lg-2">
					<div class="input-group">
					<input class="form-control" type="text" placeholder="Search Courses...">
					<span class="input-group-append">
						<button class="btn" type="button">
						<i class="fa fa-search"></i>
						</button>
					</span>
					</div>
				</form>
			</li>
		</ul>
		
		
			<ul class="navbar-nav ml-auto">
			
				
			{% if user.is_authenticated %}

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user" aria-hidden="true" style="color: steelblue"></i> <b> {{user.name }} </b>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
				{% if user.is_staff %}
					{% if user.is_superuser %}
					{% else %}
						<a class="dropdown-item" href="{% url 'provider:provider_home' %}">Dashboard</a>
						<a class="dropdown-item" href="{% url 'provider:view_courses' %}">My Courses</a>
						<a class="dropdown-item" href="{% url 'provider:my_profile' %}">Profile</a>
					{% endif %}
				{% else %}
					<a class="dropdown-item" href="{% url 'student:student_home' %}">Dashboard</a>
					<a class="dropdown-item" href="{% url 'student:my_courses' %}">My Courses</a>
					<a class="dropdown-item" href="{% url 'student:my_profile' %}">Profile</a>
				{% endif %}
				<a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
				</div>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:login' %}" aria-haspopup="true" aria-expanded="true"><button type="button" class="btn btn-sm">Login</button></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:signup' %}" aria-haspopup="true" aria-expanded="true"><button type="button" class="btn  btn-sm">Sign Up</button></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:registerprovider' %}" aria-haspopup="true" aria-expanded="true"><button type="button" class="btn  btn-sm">Be Course Provider</button></a>
			</li>
			{% endif %}	
			</ul>
		</div>
	</div>
</nav>
{% endblock topHeader %}

{% block ImageSlider %}
<div id="slides" class="view" style="background-image: url({% static 'ec/img/HomeImg.jpg' %}); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="carousel-caption">
		<h1 class="display-2">GyaanHive</h1>
		<h3>Learn Assimilate and Excel</h3>
		{% if user.is_authenticated %}
			{% if user.is_staff and not user.is_superuser %}
				<a href="{% url 'provider:create_course' %}">
				<button type="button" class="btn btn-lg btn-outline-light">Create A Course</button>
				</a>
			{% else %}
			<a href="{% url 'student:my_courses' %}">
				<button type="button" class="btn btn-lg">My Courses</button>
			</a>
			{% endif %}
		{% else %}
		<a href="{% url 'accounts:signup' %}">
			<button type="button" class="btn btn-lg">SignUp</button>
		</a>
		<a href="{% url 'courses' %}">
			<button type="button" class="btn btn-lg">Course Provider</button>
		</a>
		{% endif %}
	</div>
    <!-- Mask & flexbox options-->

  </div>
{% endblock ImageSlider %}
<!--- Jumbotron -->
{% block jumbotronBlock %}

{% endblock jumbotronBlock %}
{% block container %}

{% endblock container %}


{% block footer %}
<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<img src="{% static 'ec/img/w3newbie.png' %}">
				<hr class="light">
				<p>Our company details here</p>
				<p>Our company details here</p>
				<p>Our company details here</p>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Quick Links</h5>
				<hr class="light">
				<div class="footerRow row">
					<div class="col-md-6 text-left">
						<ul class="list-unstyled padding">
							<li><a href="/about">About</a></li>
							<li><a href="/contact">Contact</a></li>
							<li><a href="#">Terms of Service</a></li>
						</ul>
					</div>
					<div class="col-md-6 text-left">
						<ul class="list-unstyled padding">
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Support</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<hr class="light">
				<h5>Locations</h5>
				<hr class="light">
				<p>Our company details here</p>
				<p>Our company details here</p>
				<p>Our company details here</p>
			</div>
		</div>
	</div>
</footer>
{% endblock footer %}

{% block scripts %}
{% endblock scripts %}


</body>
</html>