<!DOCTYPE html>
<html lang="en">
	{% load staticfiles %}
    {% load thumbnail %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GyaanHive -- Learn Assimilate and Excel</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="{% static 'ec/style.css' %}" rel="stylesheet">
	<link href="{% static 'base/css/cardslider.css' %}" rel="stylesheet">
	<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">

	<!-- Material Design Bootstrap -->
	<link href="{% static 'base/css/style.css' %}" rel="stylesheet">
	
			<!-- Custom styles for this site -->
	{% block styles %}
	{% endblock styles %}
	
	<!-- Custom tags for the head tag -->
    {% block extrahead %}
	{% endblock extrahead %}
</head>
<body>

<!-- Navigation -->
{% block topHeader %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'home' %}">
				<img src="{% static 'ec/img/GyaanHive.png' %}" alt="logo"/>
				
		</a> 
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target = "#navbarResponsive">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<!--<ul class="navbar-nav ml-auto">-->
			<ul class="navbar-nav mr-2 ml-2">
			{% if exams %}
			<li class="nav-item active dropdown">	
					<a class="nav-link" data-toggle="dropdown" id="coursesDropDown" href="#" aria-haspopup="true" aria-expanded="true">
						<i class="fa fa-university" aria-hidden="true"></i>Exams
					</a>
					<div class="dropdown-menu" aria-labelledby="coursesDropDown">
						{% for exam,exam1 in exams %}
						<a class="dropdown-item" href="{% url 'searchResults' %}?exam={{exam}}" >{{exam}}</a>
						{% endfor %}
					</div>
				</li>
			<!--	<li class="nav-item">
					<a class="nav-link" href="#">Teachers</a>
				</li> -->
		
			{% endif %}

			<li class="nav-item">
				<form class="form-inline my-2 my-lg-0 mr-lg-2" method = 'POST' action="{% url 'searchResults' %}">{% csrf_token %}
					<div class="input-group">
					<input class="form-control" type="text" name="searchText" placeholder="Search Courses...">
					<span class="input-group-append">
						<button type="submit" class="btn" type="button">
						<i class="fa fa-search"></i>
						</button>
					</span>
					</div>
				</form>
			</li>
		</ul>
		
		
			<ul class="navbar-nav ml-auto">
			
				
			{% if user.is_authenticated %}

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" aria-haspopup="true" aria-expanded="false">
					<i class="fa fa-user" aria-hidden="true" style="color: steelblue"></i> <b> {{user.name }} </b>
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="Preview">
				{% if user.is_staff %}
					{% if user.is_superuser %}
					{% else %}
						<a class="dropdown-item" href="{% url 'provider:provider_home' %}">Dashboard</a>
						<a class="dropdown-item" href="{% url 'provider:view_courses' %}">My Courses</a>
						<a class="dropdown-item" href="{% url 'provider:my_profile' %}">Profile</a>
					{% endif %}
				{% else %}
					<a class="dropdown-item" href="{% url 'student:student_home' %}">Dashboard</a>
					<a class="dropdown-item" href="{% url 'student:my_courses' %}">My Courses</a>
					<a class="dropdown-item" href="{% url 'student:my_profile' %}">Profile</a>
				{% endif %}
				<a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
				</div>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:login' %}" aria-haspopup="true" aria-expanded="true"><button type="button" class="btn btn-sm">Login</button></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:signup' %}" aria-haspopup="true" aria-expanded="true"><button type="button" class="btn  btn-sm">Sign Up</button></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:registerprovider' %}" aria-haspopup="true" aria-expanded="true"><button type="button" class="btn  btn-sm">Be Course Provider</button></a>
			</li>
			{% endif %}

			{% if not user.is_authenticated  or not user.is_staff %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" id="cartItems" href="#" aria-haspopup="true" aria-expanded="false">
					<i class="fas fa-shopping-cart fa-lg" style="color:white"></i>
					{% if cartCourses|length > 0 %}
					<span class="badge badge-pill badge-info">{{cartCourses|length}}</span>
					{% endif %}
				</a>
				<div class="dropdown-menu dropdown-menu-right force-scroll" aria-labelledby="cartItems">
						{% if cartCourses|length > 0 %}
						<table class="table">
							<tbody>
							{% for cartCourse in cartCourses %}
							  <tr>
								<td><img id="coursePic" src="{% thumbnail cartCourse.picture|default:'default_profile.png' 50x50 crop %}" alt="avatar">
									{{cartCourse.name}}</td>
								<td> <i class="fas fa-rupee-sign" aria-hidden="true"></i> {{cartCourse.cost}}  </td>
								<td><a href="{% url 'payments:delete_from_cart' cartCourse.id %}" title="Remove from cart"><i class="fas fa-trash" style="color: black"></i></a></td>
							  </tr>
							  {% endfor %}	
							</tbody>
						  </table>
						<div class="dropdown-divider"></div>
							<p class="dropdown-item" >Sub Total : 
							<i class="fas fa-rupee-sign" aria-hidden="true" align="right"></i> {{tcost}} 
							</p>
						<div class="dropdown-divider"></div>
						<div class="row">
							<div class="col-auto"><a class="btn-sm btn-primary mx-1 my-1" href="{% url 'payments:my_cart' %}">View Cart</a> </div>
							<div class="col-auto"><a class="btn-sm btn-primary mx-1 my-1" href="{% url 'payments:process' %}">Check out</a></div>
						</div>	
					{% else %}
					<div class="dropdown-header">No courses</div>
					{% endif %}
				</div>
			</li>
			{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% endblock topHeader %}

{% block ImageSlider %}
<div id="slides" class="view" style="background-image: url({% static 'ec/img/HomeImg.jpg' %}); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="carousel-caption">
		<h1 class="display-2">GyaanHive</h1>
		<h3>Learn Assimilate and Excel</h3>
		{% if user.is_authenticated %}
			{% if user.is_staff and not user.is_superuser %}
				<a href="{% url 'provider:create_course' %}">
				<button type="button" class="btn btn-lg btn-primary">Create A Course</button>
				</a>
			{% else %}
			<a href="{% url 'student:my_courses' %}">
				<button type="button" class="btn btn-lg">My Courses</button>
			</a>
			{% endif %}
		{% else %}
		<a href="{% url 'accounts:signup' %}">
			<button type="button" class="btn btn-lg">SignUp</button>
		</a>
		<a href="{% url 'accounts:registerprovider' %}">
			<button type="button" class="btn btn-lg">Course Provider</button>
		</a>
		{% endif %}
	</div>
    <!-- Mask & flexbox options-->

  </div>
{% endblock ImageSlider %}
<!--- Jumbotron -->
{% block jumbotronBlock %}

{% endblock jumbotronBlock %}
{% block container %}

{% endblock container %}


{% block footer %}

<!-- Modal -->
<div class="modal fade" id="queryResponseModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Response from GyaanHive</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
					<div id="success_message" style="width:100%; height:100%; display:none; ">
							<h4>Thank you for your query. We will get back to you on your contact details provided to us!</h4>
						</div>
						<div id="error_message"
						style="width:100%; height:100%; display:none; ">
							<h3>Error</h3>
							Sorry there was an error sending your form.
					
						</div>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>

<!-- Modal -->
<div id="myModal" class="modal" role="dialog">
		<div class="modal-dialog">
	  <!-- Modal content-->
	  <div class="modal-content">
	  <div class="modal-header">
	  <h4 class="modal-title">Submit your query</h4>
	  <button type="button" class="close" data-dismiss="modal">×</button>
	  </div>
	  <div class="modal-body">
			  <form role="form" method="post" id="reused_form" action="{% url 'home' %}"> {% csrf_token %}
			  <p>
				  <b>Send your message in the form below and we will get back to you as early as possible.</b>
			  </p>
			  <div class="form-group">
				  <label for="name">
					  Name:</label>
				  <input type="text" class="form-control"
				  id="name" name="name"   required maxlength="50">
			  </div>
			  <div class="form-group">
				  <label for="email">
					  Email:</label>
				  <input type="email" class="form-control"
				  id="email" name="email" required maxlength="50">
			  </div>
			  <div class="form-group">
					  <label for="Phone">
						  Phone:</label>
					  <input type="number" class="form-control"
					  id="phone" name="phone" required maxlength="10">
				  </div>
			  <div class="form-group">
				  <label for="name">
					  Message:</label>
				  <textarea class="form-control" type="textarea" name="message"
				  id="message" placeholder="Your Message Here"
				  maxlength="6000" rows="7"></textarea>
			  </div>
			  <button type="submit" class="btn btn-lg btn-success btn-block" id="btnContactUs">Submit Your Query</button>
		  </form>
	  </div>
	  
	  </div>
	  
	   </div>
	  </div>
<!--- Footer -->
<footer>
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-3 footer-about wow fadeInUp">
						<img class="logo-footer" src="{% static 'ec/img/GyaanHive.png' %}" >
						<p>
							We are a young company always looking for new and creative ideas to provide seemless learning experience.
						</p>
					</div>
					<div class="col-md-4 footer-links offset-md-1 footer-contact wow fadeInDown">
						<h3>Contact</h3>
						<p><i class="fas fa-map-marker-alt"></i> <a href="" data-toggle="modal" data-target="#myModal">Submit your Query</a></p>
						<p><i class="fas fa-phone"></i> Phone: (011) 333 12 68 347</p>
						<p><i class="fas fa-envelope"></i> Email: <a href="mailto:support@gyaanhive.com">support@gyaanhive.com</a></p>
					</div>
					<div class="col-md-4 footer-links wow fadeInUp">
						<h3>Links</h3>
						<p><a href="#">Terms of Service</a></p>
						<p><a href="#">Privacy</a></p>
						<p><a href="#">Support</a></p>
						<p><a href="#">Our Team</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					   <div class="col-md-6 footer-copyright">
						© 2018 Copyright GyaanHive
					</div>
					   <div class="col-md-6 footer-social">
						<a href="#"><i class="fab fa-facebook-f"></i></a> 
						<a href="#"><i class="fab fa-twitter"></i></a> 
						<a href="#"><i class="fab fa-google-plus-g"></i></a> 
						<a href="#"><i class="fab fa-skype"></i></a>
					</div>
				   </div>
			</div>
		</div>
	</footer>
{% endblock footer %}

{% block scripts %}
<script>
		$(function()
		{
			function after_form_submitted(data)
			{
				$('#myModal').modal('toggle');
				$('#queryResponseModal').modal('show');
				document.getElementById('btnContactUs').innerText = 'Submit Your Query'
				if(data.result == 'success')
				{
					$('#success_message').show();
					$('#error_message').hide();
				}
				else
				{
					$('#error_message').append('<ul></ul>');
					jQuery.each(data.errors,function(key,val)
					{
						$('#error_message ul').append('<li>'+key+':'+val+'</li>');
					});
					//$('form#reused_form').hide();
					$('#success_message').hide();
					$('#error_message').show();
		
					//reverse the response on the button
					$('button[type="button"]', $form).each(function()
					{
						$btn = $(this);
						label = $btn.prop('orig_label');
						if(label)
						{
							$btn.prop('type','submit' );
							$btn.text(label);
							$btn.prop('orig_label','');
						}
					});
		
				}//else
			}
		
			$('#reused_form').submit(function(e)
			  {
				document.getElementById('btnContactUs').innerText = 'Sending ...'
				e.preventDefault();
				$form = $(this);
				$.ajax({
						type: "POST",
						url: $form.attr('action'),
						data: $form.serialize(),
						success: after_form_submitted,
						dataType: 'json'
				});
		
			  });
		});
		</script>
{% endblock scripts %}


</body>
</html>