<!DOCTYPE html>
<html lang="en">

  {% load staticfiles %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% if not debug %}
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  {% endif %}
  <!-- Bootstrap core CSS-->

  <!-- <link href="{% static 'userDashBoard/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <!-- Custom fonts for this template-->
  <link href="{% static 'userDashBoard/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{% static 'userDashBoard/css/sb-admin.css' %}" rel="stylesheet">
  <link href="{% static 'base/css/style.css' %}" rel="stylesheet">

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'fileUploader/js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'fileUploader/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'fileUploader/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'fileUploader/js/jquery-file-upload/jquery.fileupload.js' %}"></script>
  <script src="{% static 'rest_framework/coreapi-0.1.1.js' %}"></script>

  <script src="{% static 'fontawesome/js/all.js' %}"></script>
	<link href="/static/base/css/cardslider.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">

</head>
<body class="fixed-nav bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    {% if user.is_staff %}
      <a class="navbar-brand" href="{% url 'provider:my_profile' %}">Welcome {{ user.name }}</a>
    {% else %}
      <a class="navbar-brand" href="{% url 'student:my_profile' %}">Welcome {{ user.name }}</a>
	{% endif %}
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav bg-sidebar-custom" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link"
            href="{% if user.is_staff %}
                    {% url 'provider:provider_home' %}
                  {% else %}
                    {% url 'student:student_home' %}
                  {% endif %}">
            <i class="fas fa-tachometer-alt fa-lg"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My Courses">
          <a class="nav-link"
          href="{% if user.is_staff %}
                  {% url 'provider:view_courses' %}
                {% else %}
                  {% url 'student:my_courses' %}
                {% endif %}">
                <i class="fas fa-chalkboard-teacher fa-lg"></i>
            <span class="nav-link-text">My Courses</span>
          </a>
        </li>
        {% if user.is_staff %}
		{% if not not_approved %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Create Course">
            <a class="nav-link" href="{% url 'provider:create_course' %}">
                <i class="fas fa-chalkboard fa-lg"></i>
              <span class="nav-link-text">Create Course</span>
            </a>
          </li>
		 {% endif %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My Students">
          <a class="nav-link" href="{% url 'provider:my_students' %}">
            <i class="fas fa-user-graduate fa-lg"></i>
            <span class="nav-link-text">My Students</span>
          </a>
        </li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Live Capture">
          <a class="nav-link" href="{% url 'provider:live_capture' %}">
            <i class="fa fa-fw fa-bell fa-lg"></i>
            <span class="nav-link-text">Live Capture</span>
          </a>
        </li>
        {% endif %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Profile">
          <a class="nav-link"
          href="{% if user.is_staff %}
                  {% url 'provider:my_profile' %}
                {% else %}
                  {% url 'student:my_profile' %}
                {% endif %}">
            <i class="fas fa-user fa-lg"></i>
            <span class="nav-link-text">Profile</span>
          </a>
        </li>
        {% if not user.is_staff %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Recommended Courses">
          <a class="nav-link" href="{% url 'student:recommended_courses' %}">
            <i class="fa fa-fw fa-graduation-cap fa-lg"></i>
            <span class="nav-link-text">Recommended Courses</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Progress">
          <a class="nav-link" href="{% url 'student:progress' %}">
            <i class="fas fa-tasks fa-lg"></i>
            <span class="nav-link-text">Progress</span>
          </a>
        </li>
		<li class="nav-item" data-toggle="tooltip" data-placement="right" title="Cart">
          <a class="nav-link" href="{% url 'payments:my_cart' %}">
            <i class="fas fa-shopping-cart fa-lg"></i>
            <span class="nav-link-text">Cart</span>
          </a>
        </li>
        {% endif %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Notifications">
          <a class="nav-link" href="{% url 'notification:all' %}">
            <i class="fa fa-fw fa-bell fa-lg"></i>
            <span class="nav-link-text">Notifications</span>
			{% if notificationsCount > 0 %}
            <span class="badge badge-pill badge-warning">{{notificationsCount}}</span>
			{% endif %}
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">New Messages:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>David Miller</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>Jane Smith</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>John Doe</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all messages</a>
          </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search Courses...">
              <span class="input-group-append">
                <button class="btn" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href ="{% url 'accounts:logout' %}">
            <i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">
            <i class="fa fa-fw fa-home"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      {% block active %}
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"></li>
      </ol> -->
      {% endblock active %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
  </div>
  <footer class="footer-dashboard-bottom">
      <div class="container">
        <div class="text-center">
          © 2018 Copyright GyaanHive
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url 'accounts:logout' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>
</body>
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="{% static 'userDashBoard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'userDashBoard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'userDashBoard/js/sb-admin.min.js' %}"></script>

</html>
