<!DOCTYPE html>
<html>
<body>
<p> <h1> Logs </h1> </p>
<textarea class="scrollabletextbox" name="logs" cols="100" rows="25">
  {% if log %}
    {{ log.contents }}
  {% endif %}
</textarea>
<p> <h1> Capture File Details </h1> </p>
{% if filedetails %}
    Details : {{ filedetails.details }}
	Time : {{ filedetails.when }}
{% endif %}
<p> <h1> Client State </h1> </p>
{% if clientstate %}
    Time : {{ clientstate.when }}
{% endif %}
<p> <h1> Upload File Details </h1> </p>
{% if fileupload %}
    Time : {{ fileupload.when }}
	Details : {{ fileupload.status }}
{% endif %}
 <form action="" method="post" enctype="multipart/form-data">
   {% csrf_token %}
  <input type="text" name="schedueid" value="Type schedueid" />
  <input type="text" name="filename" value="Type filename" />
  <button type="submit">Submit</button>
</form>
</body>
</html>
