<!-- This file has following objects with it 
exams ( from course model)
courses ( all courses ,course model)
-->
{% extends "__ecBase.html" %}

{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block container %}


<div class="container-fluid course-cards-div">
        <h3 class="text-center" > Popular Courses
                <a href="{% url 'listCourses' %}">
                        <button class="btn btn-primary float-right">See all</button> 
                </a>
        </h3>
        {% include "__baseCourseTiles.html" with allCourses=allCourses divId="Popular" category="" provider_id=providerId tilesLimit=":4" %}
</div>
<hr>
<div class="container-fluid teacher-div">
        <h3 class="text-center" >Expert's associated with us</h3>
        <p class="text-center">
                A crew of experienced educators helm our vast and growing library. Hareness their experties, and get the<br> same award-wnining learning materials that are used by teachers in millions of classrooms.
        </p>
                <div class="row row-centered">
                        {% for userDetails in allProviders|slice:'4'%}
                        <div class="col-md" align="centre">
                                <div class="img">
                                        <img class="rounded-circle" src="{% thumbnail userDetails.profilePic|default:'default_profile.png' 120x120 crop %}">
                                        <div class="caption center-block">{{ userDetails.name }}</div>
                                </div>
                        </div>
                        {% endfor %}

                                
                </div>
</div>
{%  endblock container %}



