<!-- This file has following objects with it 
exams ( from course model)
courses ( all courses ,course model)
-->
{% extends "__ecBase.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block container %}
<div class="container-fluid">
        <p class="text-left mb-3"> Courses By Exams
        <button class="btn float-right">See all</button> </p>
        {% include "__baseCourseNavigator.html" with allCourses=allCourses divId="Exams" category="" provider_id=providerId %}
</div>
<hr>

<div class="container-fluid">
        <p class="text-left mb-3"> Popular Courses
        <button class="btn float-right">See all</button> </p>
        {% include "__baseCourseNavigator.html" with allCourses=allCourses divId="Popular" category="" provider_id=providerId %}
</div>
<hr>

<div class="container-fluid">
        <p class="text-left mb-3"> Course Providers with Us
        <button class="btn float-right">See all</button> </p>
        {% include "__baseCourseNavigator.html" with allCourses=allCourses divId="Instructors" category="" provider_id=providerId %}
</div>
<hr>
{%  endblock container %}


