{% extends "__ecBase.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block ImageSlider %}
{% endblock ImageSlider %}
 
{% block jumbotronBlock %}
{% if searchResult.count >= 0 %}

<div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-md-3">
               <p>
                Search Results for <p><strong> '{{searchText}}' </strong> </p>
                </p>
                <p>
                Total <strong> ' {{searchResult.count}} '</strong> Results found
                </p>
              </div>
              <div class="row">
              </div>
              <div class="row">
              <form id='searchBox' class="form-inline" method = 'POST' action="{% url 'searchResults' %}">{% csrf_token %}
                <div class="form-group padding">
                    <input list="examList" type="text" name="examText" class="form-control" placeholder="Select Exams Filter" />
                       <datalist id="examList">
                         {% for exam in exams %}
                           <option value="{{exam.exam}}"/>
                             {% endfor %}
                          </datalist>
                  </div>
                  <div class="form-group padding">
                    <input list="providerList1" type="text" name="providerText" class="form-control" placeholder="Select Providers Filter" />
                      <datalist id="providerList1">
                        {% for provider in providers %}
                          <option value="{{provider.name}}"/>
                           {% endfor %}
                      </datalist>     
                  </div>
                  <div class="form-group padding">
                    <button class="btn btn-primary " name="submit" type="submit">search</button>
                  </div>
                </form>
                </div>
                </div>
        </div>
</div>

{% endif %}
{% endblock jumbotronBlock %}

{% block container %}
{% if searchResult.count >= 0 %}
<div class="container-fluid">
  <p class="text-left mb-3"> Courses from  '{{searchText}}'
    <button class="btn float-right">See all</button> </p>
      {% include "__baseCourseNavigator.html" with allCourses=searchResult divId="search" category="" provider_id=providerId %}
</div>
<hr>
{% endif %}
{%  endblock container %}

{% block scripts %}
<script>
</script>
{% endblock scripts %}


