{% extends "__user_base.html" %}
{% load staticfiles %}

{% block active %}
  <!-- Breadcrumbs-->
  <nav class="navbar">
  <div class="mr-lg-auto">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Event Scheduler</li>
  </ol>
  </div>
  <a href="" data-toggle="modal" data-target="#scheduleModal" class="btn btn-outline-info btn-lg mx-2 px-2" role="button" aria-pressed="true">Create New</a>

  
  </nav>


  <div id="scheduleModal" class="modal" role="dialog">
		<div class="modal-dialog">
	  <!-- Modal content-->
	  <div class="modal-content">
	  <div class="modal-header">
	  <h4 class="modal-title">Add/Edit schedule for your Course</h4>
	  <button type="button" class="close" data-dismiss="modal">×</button>
	  </div>
	  <div class="modal-body">
      <form  method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-group row">
          <label for="courseName" class="col-sm-4 col-form-label">Course</label>
          <div class="col-sm-8">
            <select name="courseName" class="form-control" id="courseName" data-live-search="true" onchange="fillSelectByName(this,'courseSubjectName','courseChapterName')" >
                <option value="">Course(s)</option>
                {% for course in mycourses %}
              <option value="{{ course.name }}" >{{ course.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="courseSubjectName" class="col-sm-4 col-form-label">Subject</label>
          <div class="col-sm-8">
            <select id="courseSubjectName" name="courseSubjectName" class="form-control" data-live-search="true" onchange="fillSelectByName(this,'courseChapterName')">
                <option value="">Subject(s)</option>
                {% for course in mycourses %}
                  {% for sub, subDetails in course.details.items %}
              <option value="{{ course.name }}:{{sub}}" >{{sub}}</option>
                  {% endfor %}
                {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="courseChapterName" class="col-sm-4 col-form-label">Chapter</label>
          <div class="col-sm-8">
            <select id="courseChapterName" name="courseChapterName" class="form-control" data-live-search="true">
                <option value="">chapter(s)</option>
                {% for course in mycourses %}
                  {% for sub, subDetails in course.details.items %}
                    {% for subject in subDetails %}
                     {% for chapId, chapDetails in subject.items %}
                       <option value="{{ course.name }}:{{sub}}:{{chapId}}" >{{ chapDetails.name }}</option>
                     {% endfor %}
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
            </select>
            <input type="hidden" id="scheduleChapterId" name="scheduleChapterId" value="" />
          </div>
        </div>
        <div class="form-group row">
          <label for="startDate" class="col-sm-4 col-form-label">Start Date</label>
          <div class="col-sm-8">
            <input type="date" class="form-control" name="startDate" id="startDate" placeholder="Start Date" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="eventTime" class="col-sm-4 col-form-label">Event Time</label>
          <div class="col-sm-8">
            <input type="time" class="form-control" name="eventTime" id="eventTime" placeholder="Start Date" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="eventCount" class="col-sm-4 col-form-label">Event Count</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" name="eventCount" id="eventCount" placeholder="Number of Events for this chapter" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="eventDuration" class="col-sm-4 col-form-label">Event Duration</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" name="eventDuration" id="eventDuration" value=3 placeholder="Event Duration in hours" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="eventRecur" class="col-sm-4 col-form-label">Recurence After</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" name="eventRecur" id="eventRecur" value=24 placeholder="Recurrence after in hours" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="autoPublish" class="col-sm-4 col-form-label">Instant Publish</label>
          <div class="col-sm-8">
            <input type="checkbox" class="form-control" name="autoPublish" id="autoPublish">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
	  </div>
	  
	  </div>
	  
	   </div>
	  </div>

    <div class="container-fluid">
        {% if schedules|length > 0 %}
        <h5>Scheduled Course Events</h5>
        <div style="overflow-x:auto;">
        <table class="table" id="schedulesTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Course Name</th>
                <th scope="col">Subject</th>
                <th scope="col">Chapter</th>
                <th scope="col">Start Date</th>
                <th scope="col">Event Duration</th>
                <th scope="col">Total Events</th>
                <th scope="col">Events Occured</th>
                <th scope="col">Events Remaining</th>
                <th scope="col">Instant Publish</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td><input type="text" id="filterCourse" onkeyup="filterFunction('filterCourse')" placeholder="Filter Course.."></td>
                    <td><input type="text" id="filterSubject" onkeyup="filterFunction('filterSubject')" placeholder="Filter Subject.."></td>
                    <td><input type="text" id="filterChapter" onkeyup="filterFunction('filterChapter')" placeholder="Filter Chapters.."></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                  </tr>
            {% for schedule in schedules %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{% url 'provider:edit_course' schedule.courseId %}"> {{schedule.courseName}} </a></td>
                <td>{{schedule.subjectName}}</td>
                <td>{{schedule.chapterName}}</td>
                <td>{{schedule.start}}</td>
                <td>{{schedule.duration}}</td>
                <td>{{schedule.eventcount}}</td>
                <td>{{schedule.eventsOccured}}</td>
                <td>{{schedule.eventsRemaining}}</td>
                <td>{{schedule.autoPublish}}</td>
                <td><button class="btn btn-info btn-sm mx-2 px-2" aria-pressed="true" onclick="editSchedule(this)"><i class="fa fa-edit fa-sm" title="Edit schedule"></i></td>
                <td><a href="{% url 'schedule:startCapture' schedule.id %}" class="btn btn-dark btn-sm mx-2 px-2" role="button" aria-pressed="true"><i class="fa fa-circle fa-sm" title="Start capture"></i></a></td>
                <td><a href="{% url 'schedule:stopCapture' schedule.id %}" class="btn btn-danger btn-sm mx-2 px-2" role="button" aria-pressed="true"><i class="fa fa-circle fa-sm" title="Stop capture"></i></a></td>
                <!--<td><a href="" class="btn btn-info btn-sm mx-2 px-2" role="button" aria-pressed="true">Mark Completed</a></td> -->
              </tr>
              {% endfor %}    
            </tbody>
          </table>
          </div>
        
        {% else %}
        <h5>No Schedule Planned</h5>
        {% endif %}
    </div>
  <script src="{% static 'provider/js/createCourseContent.js' %}"></script>
{% endblock active %}

