{% extends "__user_base.html" %}
{% load staticfiles %}

{% block active %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
<script src="{% static 'provider/js/0.3/alasql.min.js' %}"></script>
<script src="{% static 'provider/js/0.7.12/xlsx.core.min.js' %}"></script>
<script type="text/javascript">

var emails = '';
var names = '';
var viewhours = '';

function Upload() {
        //Reference the FileUpload element.
        var fileUpload = document.getElementById("fileUpload");
 
        //Validate whether File is valid Excel file.
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xls|.xlsx)$/;
        if (regex.test(fileUpload.value.toLowerCase())) {
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
 
                //For Browsers other than IE.
                if (reader.readAsBinaryString) {
                    reader.onload = function (e) {
                        ProcessExcel(e.target.result);
                    };
                    reader.readAsBinaryString(fileUpload.files[0]);
                } else {
                    //For IE Browser.
                    reader.onload = function (e) {
                        var data = "";
                        var bytes = new Uint8Array(e.target.result);
                        for (var i = 0; i < bytes.byteLength; i++) {
                            data += String.fromCharCode(bytes[i]);
                        }
                        ProcessExcel(data);
                    };
                    reader.readAsArrayBuffer(fileUpload.files[0]);
                }
            } else {
                alert("This browser does not support HTML5.");
            }
        } else {
            alert("Please upload a valid Excel file.");
        }
    };
    function ProcessExcel(data) {
        //Read the Excel File data.
        var workbook = XLSX.read(data, {
            type: 'binary'
        });
 
        //Fetch the name of First Sheet.
        var firstSheet = workbook.SheetNames[0];
 
        //Read all rows from First Sheet into an JSON array.
        var excelRows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);
 
        //Create a HTML Table element.
        var table = document.createElement("table");
        table.border = "1";
 
        //Add the header row.
        var row = table.insertRow(-1);
 
        //Add the header cells.
        var headerCell = document.createElement("TH");
        headerCell.innerHTML = "Email";
        row.appendChild(headerCell);
 
        headerCell = document.createElement("TH");
        headerCell.innerHTML = "Name";
        row.appendChild(headerCell);
 
        // headerCell = document.createElement("TH");
        // headerCell.innerHTML = "phone";
		// row.appendChild(headerCell);
		
		headerCell = document.createElement("TH");
        headerCell.innerHTML = "Viewhours";
        row.appendChild(headerCell);
		//Add the data rows from Excel file.
		var emailsArr = [];
		var namesArr = [];
		var viewHoursArr = []
        for (var i = 0; i < excelRows.length; i++) {
            //Add the data row.
            var row = table.insertRow(-1);
 
            //Add the data cells.
            var cell = row.insertCell(-1);
            cell.innerHTML = excelRows[i].email;
			emailsArr.push(excelRows[i].email);

            cell = row.insertCell(-1);
            cell.innerHTML = excelRows[i].name;
			namesArr.push(excelRows[i].name);

            cell = row.insertCell(-1);
			cell.innerHTML = excelRows[i].viewhours;
			viewHoursArr.push(excelRows[i].viewhours);
        }
		viewhours = viewHoursArr.join(',');
		names = namesArr.join(',');
		emails = emailsArr.join(',');
		$('#dvExcel').empty();

		var dvExcel = document.getElementById("dvExcel");
		
        dvExcel.innerHTML = "";
		dvExcel.appendChild(table);
		$('#importStudentsModal').modal('show');
	};
	function filldata() {
		document.getElementById('inputEmail3').value = emails;
		document.getElementById('studentname').value = names;
		document.getElementById('viewHours').value = viewhours;
		$('#importStudentsModal').modal('toggle');
	}
	function selectFile() {
		$('input[type=file]').val('');
		$('input[type=file]').click();
	}
</script>

  <!-- Breadcrumbs-->
  <nav class="navbar">
	<div class="mr-lg-auto">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item">
		<a href="#">Dashboard</a>
	  </li>
	  <li class="breadcrumb-item active">Enroll Students with course and modules</li>
	</ol>
  </div>
  <button title="Select Excel file with name,email,viewhours as column names" onclick="selectFile()" id="uploadbutton" class="btn btn-outline-info btn-md mx-2 px-2" aria-pressed="true">
	<i class="far fa-file-excel"></i> Import users</button>
	<button title="Download Sample Excel" class="btn btn-sm btn-outline-info" onclick="downloadSample()">
			<i class="fa fa-download" aria-hidden="true"></i></button>
  <input id="fileUpload" type="file" name="files" onchange="Upload()" style="visibility:hidden;">
  </nav>

 <!--  modal for import students-->
  <div class="modal" tabindex="-1" role="dialog" id="importStudentsModal">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Imported Students Data</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div id="dvExcel"></div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-primary" onclick="filldata()">OK</button>
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
  </div>

  <form action="" method="post" enctype="multipart/form-data" id="enrollStudents">
	{% csrf_token %}
	<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Emails  </label>
    <div class="col-sm-10">
			<input type="text" class="form-control" name="email" id="inputEmail3" placeholder="Email" {% if email %} value = "{{email}}" readonly {% endif %}>
			<small>Separated by <strong>Commas</strong> for multiple enrollments</small>
    </div>
	</div>
	<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Student Name</label>
    <div class="col-sm-10">
			<input type="text" class="form-control" name="studentname" id="studentname" placeholder="Student Name" 
			{% if studentname %} value = "{{studentname}}"  readonly {% endif %} >
			<small>Separated by <strong>Commas</strong> for multiple enrollments</small>
    </div>
	</div>
	<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">View hours</label>
    <div class="col-sm-10">
			<input type="text" class="form-control" name="viewHours" id="viewHours" placeholder="view Hours" 
			 value = "{{viewhours}}" required>
    </div>
	</div>
	<div class="form-group row">
		<label for="inputDate" class="col-sm-2 col-form-label">Expiry</label>
		<div class="col-sm-10">
			<input class="form-control" id="date" name="expiryDate" placeholder="MM/DD/YYY" type="date" value="{{courseexpiry}}"/>
			<small>Format <strong>MM/DD/YYYY</strong>. Default is <strong>6 months</strong> from today</small>
		</div>
	</div>
	<h4>Assign Course and permissions</h2>
		<br>
	{% for course in mycourses %}
<div class="container">

	<div class="row">
		<div class="col-6">
		<h4> Enroll for Course <strong> {{ course.name }}
	</strong></h4>
	</div>
	<div class="col-3">
			<input class="form-check-input" name="course" type="checkbox" id="gridCheck1" value="{{course.cid}}" onclick="enableDisableModules(this);"
			{% if course.fullaccess == 1 %} checked {% endif %} >
			<small class="form-text text-muted">click here for full course access. If clicked , module level access will be ignored</small>
	</div>
</div>
		<div class="row">
		{% for sub, subDetails in course.details.items %}
				<div class="col-sm-3">
				<h5>{{sub}}</h5>
			{% for subject in subDetails %}
				{% for chapId, chapDetails in subject.items %}
				<div class="row-sm-3">
					<input class="form-check-input" name="modules{{course.cid}}" type="checkbox" id="gridCheck1" value="{{chapId}}"
					{% if chapDetails.access  %} checked {% endif %} {% if course.fullaccess == 1 %} disabled {% endif %}>
					<label class="form-check-label" for="gridCheck1">
							{{ chapDetails.name }}
					</label>
				</div>
				{% endfor %}
		{% endfor %}
</div>
	{% endfor %}
	</div>
	<hr>
</div>
{% endfor %}
  {% if studentname %} 
  <input type="hidden" value= "1" name="isEditStudentEnrollment" />
  {% endif %}
<button type="submit" {% if submitDisabled %} disabled {% endif %} >Submit</button><br>
</form>
{% if submitDisabled %}
<h4>Courses may not be published. Go to Course Edit page and click on Publish</h4>
{% endif %}
<script>
	$('#enrollStudents').submit(function() {
		emails = document.getElementById('inputEmail3').value;
		names = document.getElementById('studentname').value;
		viewhours = document.getElementById('viewHours').value;
		l = emails.split(",").length;
		if (names.split(',').length == l && viewhours.split(',').length == l) {
    		var c = confirm("Do you want to continue?");
			return c; //you can just return c because it will be true or false
		} else{
			alert('Select same number of emails, names and viewhours list');
			return false;
		}

});

function enableDisableModules(e) {
  $(this).click(function() {
		var value = e.value;
		var modules = document.getElementsByName('modules'+value);
		for(i = 0;i < modules.length; i++) {
    	if (e.checked == true) {
      	modules[i].disabled = true;
    	} else {
      	modules[i].disabled = false;
    	}
		}
  });
}

function exportExcel(tabs,courseNames) {
    var datas = [];
    var opts = [];
    for (var i = 0; i < tabs.length; i++) {
      var sql = 'SELECT * FROM HTML("#'+ tabs[i] + '",{headers:true})';
      var data = alasql(sql);
      datas.push(data);
      var opt = {sheetid:courseNames[i],header:true};
      opts.push(opt);
    }
    var res = alasql('SELECT INTO XLSX("my_students.xlsx",?) FROM ?',[opts,datas]);
    }
	function downloadSample() {
		exportExcel(['demoTable'],['demoSheet']);
	}
</script>

<div style="display:none">
<table id="demoTable">
    <thead>
        <tr>
            <th>name</th>
            <th>email</th> 
            <th>viewhours</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Demo Name</td>
            <td>demo@gmail.com</td> 
            <td>100</td>
        </tr>
    </tbody>  
    </table>
</div>
{% endblock active %}