{% extends "__base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block topMainMenu %}
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-1">
						<div id="fh5co-logo"><a href="{% url 'home' %}">ExamCracker</a></div>
					</div>
					<div class="col-xs-11 text-right menu-1">
						<ul>
							<li class="active"><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'courses' %}">Courses</a></li>
							<li><a href="{% url 'pricing' %}">Pricing</a></li>
							<li class="has-dropdown">
								<a href="{% url 'blog' %}">Blog</a>
								<ul class="dropdown">
									<li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li>
								</ul>
							</li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
							{% if user.is_authenticated %}
							    <li><a href="{% url 'profiles:show_self' %}">Profile</a></li>
								<h1>welcome {{ user.name }}</h1>
								{% if user.is_staff %}
								    {% if user.is_superuser %}
									{% else %}
                                        <div class="panel-body">
	                                        <strong>Name</strong>: {{ course_detail.name }}<br>
	                                        <strong>Created On</strong>: {{ course_detail.created }}<br>
	                                        <strong>Exam</strong>: {{ course_detail.exam }}<br>
	                                        <strong>Cost (INR)</strong>: {{ course_detail.cost }}<br>
	                                        <strong>Duration (months)</strong>: {{ course_detail.duration }}<br>
											<strong>Published</strong>: {{ course_detail.published }}<br>
	                                    </div>
										<div class="panel-body">
										    <strong>Course Sessions</strong><br>
											{% if included_sessions %}
											    <ol>
											        {% for session in included_sessions %}
												        <label for="video"><a href="{% url 'provider:video_detail' session.id %}">{{ session.name }}</a></label><br>
												    {% endfor %}
											    </ol>
											{% endif %}
										</div>
										<div>
										    <strong>Sessions Not In course</strong><br>
											<form action="" method="post" enctype="multipart/form-data">
											    {% if excluded_sessions %}
										            <ol>
											            {% for session in excluded_sessions %}
												            <input type="checkbox" name="sessions[]" value="{{ session.id }}"</input>
													        <label for="video"><a href="{% url 'provider:video_detail' session.id %}">{{ session.name }}</a></label><br>
												        {% endfor %}
											        </ol>
										        {% endif %}
											    {% csrf_token %}
										        <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <button type="submit" class="btn btn-success">Add</button>
                                                    </div>
                                                </div>
											</form>
	                                    </div>
									{% endif %}
								{% endif %}
								<p><a href="/logout">Logout</a></p>
							{% else %}
								<li class="btn-cta"><a href="{% url 'accounts:login' %}"><span>Login</span></a></li>
								<li class="btn-cta"><a href="{% url 'accounts:signup' %}"><span>Sign Up</span></a></li>
							{% endif %}
						</ul>
					</div>
				</div>
				
			</div>
		</div>
		{% endblock topMainMenu %}

		{% block container %}
		{% endblock container %}