<!--
use bootstrap cards for chapters
use tables for videos inside sections

1. Add chapter button +++ Description for chapter 
2. Add lecture button   +++ Description for lecture
3. Make both draggable.
4. checkbox to set lectures as published.
5. flow as follows:

a. Click on add chapter. it gets added with description box. Make description box required field
b. Click on add lecture button. browse file and upload. 
c. All chapters on left and videos on right.  That means row of 2 colums will be der give it id

All information should be saved in local javascript variables.
javascript variables should contain whole data of page.

When we click save , then send javascript information to our views.py and save data to db.
overwrite whole data?


 use color coding of card : Blue for draft , green for published
similarly for lectures
-->

{% load staticfiles %}   
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: small;
    table-layout: fixed;
}
</style>
<div class="container">
    <h5>My Course Structure</h5>
    <form method="POST" enctype="multipart/form-data" id="contentForm" > {% csrf_token %}
        <div class="card bg-light text-dark">
            <div class="course-header">
            </div>
            <div class="card-body">
                <div class="container">
                    <div id="accordianChapters">
                    {% for item in course_detail %}
                    {% for chapid, value in item.items %}
                    <div class="card" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" id="card{{forloop.parentloop.counter}}">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" data-parent="#accordianChapters" href="#c{{forloop.parentloop.counter}}">{{value.name}}</a>
                            <button type="button" onclick="deleteChapter(this)" class="btn btn-primary float-right">Delete this chapter</button>
                        </div>
                        <div id="c{{forloop.parentloop.counter}}" class="collapse">
                            <div class="card-body" id="{{forloop.parentloop.counter}}">
                                <input id="fileupload{{forloop.parentloop.counter}}" type="file" name="video" multiple style="display: none;" data-url="{% url 'provider:upload_video' %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                                <input type="hidden" value="{{forloop.parentloop.counter}}" name="lcids" />
                                <div class="row">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" name="cd[]" placeholder="Enter Chapter Description" value = "{{value.name}}" >
                                        <input type="hidden" class="form-control" name="cpids[]" value = "{{chapid}}" >
                                    </div>
                                    <div class="col-auto"><button type="button" onclick="addLecture(this)" class="btn btn-primary float-right">Add Lecture</button></div>
                                </div>
                                {% for session in value.sessions %}
                                <!-- lectures here -->
                                <div class="row">
                                    
                                    <table>
                                        <tr>
                                            <td><button type="button" class="btn" onclick="deleteLecture(this)"><i class="fa fa-trash fa-fw"></i></button></td>
                                            <td style="font-weight:bold">Lecture {{forloop.counter}}</td>
                                            <td>
                                                <a href="{% url 'course:playSession' chapid session.id %}" >
                                                <i class="fa fa-play fa-fw" ></i>
                                                {{ session.name }}
                                                </a>
                                                <input type="hidden" name ="lec[{{forloop.parentloop.parentloop.counter}}][]" value="{{session.id}}">
                                            </td>
                                        </tr>
                                    </table>
                                
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                <br>
            </div>
        </div>
    </div>
    </div>
      <input type="hidden" value="true" name="isCourseContent" />
      <input type="hidden" value="{{editCourse.id}}" name="courseId" />
      <button type="submit"  class="btn btn-info btn-lg float-right" id="saveAllChanges">Save changes</button>
      <button type="button" onclick="addChapter(this)" class="btn btn-info btn-lg" id="btnGen">Add New Chapter</button>
    </form>
    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Uploading...</h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'fileUploader/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'fileUploader/js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'fileUploader/js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'fileUploader/js/jquery-file-upload/jquery.fileupload.js' %}"></script>

<script>
    var droptarget;
function drag(event)
  {
    droptarget = event.target.id;
  }
  function allowDrop(event)
  {
    event.preventDefault();
  }
  function drop(event) {
    event.preventDefault();  
    var drop_target = event.currentTarget;
    var drag_target_id = droptarget;
    var drag_target = document.getElementById(drag_target_id);
    var tmp = document.createElement('span');
    tmp.className='hide';
    drop_target.before(tmp);
    drag_target.before(drop_target);
    tmp.replaceWith(drag_target);
}
    var chapCnt = 1;
    function addChapter(elmnt) {
        var currentChapCnt = document.getElementById("accordianChapters").children.length;
        if (currentChapCnt > chapCnt) {
            chapCnt=currentChapCnt;
        }
        var id = chapCnt;
        var fileTag = $("<input id=\"fileupload"+id+"\" type=\"file\" name=\"video\" multiple style=\"display: none;\" data-url=\"{% url 'provider:upload_video' %}\" data-form-data='{\"csrfmiddlewaretoken\": \"{{ csrf_token }}\"}'>");
        var myChapter = $('<div class="card" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" id="card'+id+'"><div class="card-header"><a class="card-link" data-toggle="collapse" data-parent="#accordianChapters" href="#c'+id+'">Chapter '+id+'</a><button type="button" onclick="deleteChapter(this)" class="btn btn-primary float-right">Delete this chapter</button></div><div id="c'+id+'" class="collapse"><div class="card-body" id="'+id+'"><input type="hidden" value="'+id+'" name="lcids" /><div class="row"><div class="col-auto"><input type="text" class="form-control" name="cd[]" placeholder="Enter Chapter Description" value = "Chapter '+id+'" /></div><div class="col-auto"><button type="button" onclick="addLecture(this)" class="btn btn-primary float-right">Add Lecture</button></div></div></div></div></div>');
        myChapter.appendTo('#accordianChapters');
        fileTag.appendTo($("#"+id+".card-body"));
        chapCnt = chapCnt+1;
    }
     function deleteChapter(elmnt) {
        var el = elmnt;
        while (el.className != 'card') {
            // Increment the loop to the parent node
            el = el.parentNode;
        }
        var cardBody = el.querySelector('.card-body');
        var lcount = cardBody.children.length;
        if (lcount > 3) {
            alert('Cannot delete chapter. It has lectures');
        }
        else {
            document.getElementById("accordianChapters").removeChild(el);
            //chapCnt = chapCnt-1;
        }
    }
    function deleteLecture(elmnt) {
        var l_elem = elmnt;
         while (l_elem.className != 'row') {
            // Increment the loop to the parent node
            l_elem = l_elem.parentNode;
        }
        var c_elem = l_elem;
        while (c_elem.className != 'card-body') {
            // Increment the loop to the parent node
            c_elem = c_elem.parentNode;
        }
        c_elem.removeChild(l_elem);
    }

    function addLecture(elmnt) {
         var el = elmnt;
         while (el.className != 'card-body') {
            // Increment the loop to the parent node
            el = el.parentNode;
        }
         var id = el.children.length-2;
         var cname = el.id;
         $("#fileupload"+cname).click();
         var kunal = $("#fileupload"+cname).fileupload({
            dataType: 'json',
            sequentialUploads: true,  /* 1. SEND THE FILES ONE BY ONE */
            start: function (e) {  /* 2. WHEN THE UPLOADING PROCESS STARTS, SHOW THE MODAL */
                $("#modal-progress").modal("show");
            },
            stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
                $("#modal-progress").modal("hide");
            },
            progressall: function (e, data) {  /* 4. UPDATE THE PROGRESS BAR */
                var progress = parseInt(data.loaded / data.total * 100, 10);
                var strProgress = progress + "%";
                $(".progress-bar").css({"width": strProgress});
                $(".progress-bar").text(strProgress);
            },
            done: function (e, data) {
                if (data.result.is_valid) {
                    var lecture = $('<div class="row"><input type="hidden" name ="lec['+cname+'][]" value="'+data.result.videoId+'"><table><tr><td><button type="button" class="btn" onclick="deleteLecture(this)"><i class="fa fa-trash fa-fw"></i></button></td><td style="font-weight:bold">Lecture '+id+'</td><td>'+data.result.videoName+'</td></tr></table></div>');
                    //var lecture = $('<div class="row"><table><tr><td>Lecture '+id+'</td><td><div class="input-group"><div class="custom-file"><input type="file" name ="lc['+cname+'][]" class="custom-file-input"><label class="custom-file-label" >Choose Lecture </label></div></div></td></tr></table></div>');
                    lecture.appendTo(el);
                    id = id+1;
                }
            }
    });

    }
  </script>