
{% extends "__user_base.html" %}
{% load staticfiles %}
{% block active %}
{% load thumbnail %}

<nav id="courseNavBar" class="navbar">
<div class="mr-lg-auto">
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
	<li class="breadcrumb-item active">
			{% if editCourse %}
			Edit Course / {{ editCourse.name }}
			{%  else %}
			Create New Course 
		{% endif %}
	</li>

	<!--<button class="btn btn-sm btn-success float-right" style="position:absolute;right:10rem;">Preview Course</button>-->
</ol>
</div>
{% if editCourse %}
<a href="{% url 'course:coursePage' editCourse.id %}" class="btn btn-outline-secondary btn-lg mx-2 px-2" role="button" aria-pressed="true">Preview</a>

{% if not editContentDisable %}
<button class="btn btn-outline-info btn-lg mx-2 px-2" aria-pressed="true" onclick="saveCourse(this)">Save</button>
{% endif %}
<form class="form-inline" action="{% url 'provider:publish_course' %}" id="publishCourse" 
onSubmit="if(!confirm('Do you want to publish this course ?')){return false;}"  method="post" enctype="multipart/form-data"> {% csrf_token %}
	<button class="btn btn-outline-dark btn-lg float-right" type="button" onclick="publishCourse(this)" {% if not editCourse %} disabled {% endif %} >Publish</button>
</form>
{% endif %}
</nav>
<!--Warning message that course has been changed-->
<div id="addWarningMessage">
</div>
<div class="container">
		<div class="row my-2">
				<div class="col-lg-8 order-lg-2">
						<ul class="nav nav-tabs">
								{% if not editCourse and allChildCoursesCount and allChildCoursesCount > 0 %}
								<li class="nav-item">
									<a href="" data-target="#courseFromCourses" data-toggle="tab" 
									class= "nav-link" >From Existing Courses</a>
								</li>
								{% endif %}
								<li class="nav-item">
										<a href="" data-target="#courseDescription" data-toggle="tab" 
										class= {% if isCourseContent %} "nav-link" {% else %} "nav-link active" {% endif %} >Overview</a>
								</li>
								<li class="nav-item">
										<a href="" data-target="#addContent" data-toggle="tab" 
										class= {% if editCourse %} {% if isCourseContent %} "nav-link active" {% else %} "nav-link" {% endif %} {% else %} "nav-link disabled" {% endif %}>Content</a>
								</li>
						</ul>
						<div class="tab-content py-4">

								<div {% if isCourseContent %} class="tab-pane" {% else %} class="tab-pane active" {% endif %} id="courseDescription">
									<form action="{% url 'provider:create_course' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
										<div class="col-lg-3 order-lg-1 text-center">
												<img id="coursePic" src="{% thumbnail editCourse.picture|default:'default_profile.png' 100x100 crop %}" class="mx-auto img-fluid img-circle d-block" alt="avatar">
												<p>Upload Course Image</p>
												<input type="file" onchange="readURL(this,'coursePic');" class="form-control" name="course_pic">
												<hr>  
											  </div>
										<div class="form-row">
		  								<div class="col-md-4 mb-3">
												<label for="cName">Name</label>
												<input type="text" class="form-control" value= {% if editCourse %} "{{ editCourse.name }}" {% else %} "" {% endif %}
													name="courseName" id="cName" placeholder="Course Name" required>
											</div>
										<div class="col-md-4 mb-3">
											<label for="cExam">Exam</label>
											<select class="form-control" name="courseExam" id="cExam" data-live-search="true" {% if editCourse and editCourse.exam != ""  %} readonly {% endif %} required>
												{% if editCourse and editCourse.exam != "" %}
												<option value="{{ editCourse.exam }}"selected>{{editCourse.exam}}</option>
												{% else %}
												<option value="">Exam</option>
												{% for x,y in allExams %}
												<option value="{{ x }}"{% if editCourse.exam == x %} selected{% endif %}>{{x}}</option>
											{% endfor %}
											{% endif %}
											</select>
										</div>
										<div class="col-md-4 mb-3">
											<label for="cSubject">Subject(s)</label>
											<select class="form-control" name="courseSubject" id="cSubject" data-live-search="true" {% if editCourse and editCourse.subjects != "" %} disabled="true" {% endif %} required multiple>
												{% if editCourse and editCourse.subjects != "" %}
													{% if editCourseSubjects %}
														{% for subj in editCourseSubjects %}
														<option value="{{ editCourse.exam }}:{{ subj }}"selected>{{subj}}</option>
														{% endfor %}
													{% else %}
													<option value="{{ editCourse.exam }}:{{ editCourse.subjects }}"selected>{{editCourse.subjects}}</option>
													{% endif %}
												{% else %}
												<option value="">Subject(s)</option>
												
											{% for examKey,subjectVals in allSubjects.items  %}
												{% for subj in subjectVals %}
													{% if subj == editCourse.subjects %}
													<option value="{{ examKey }}:{{subj}}" selected>{{subj}}</option>
													{% endif %}
													{% if examKey != editCourse.exam %}
													<option value="{{ examKey }}:{{subj}}" hidden>{{subj}} </option>
													{% else %}
													<option value="{{ examKey }}:{{subj}}">{{subj}}</option>
													{% endif%}
												{% endfor %}
											{% endfor %}
											{% endif %}
											</select>
										</div>
								</div>
								<div class="form-row">
									<div class="col-md-12 mb-3">
										<label for="cDescription">Summary</label>
										<textarea class="form-control" name="courseDescription" id="cDescription" placeholder="Add Summary" rows="3">{% if editCourse %}{{editCourse.description}}{% endif %}</textarea>
									</div>
								</div>
								<div class="form-row">
										<div class="col-md-6 mb-3">
									<label for="cDuration">Duration (months)</label>
									<div class="input-group">
										<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroupPrepend3">#</span>
										</div>
										<input type="number" class="form-control" value= {% if editCourse %} "{{ editCourse.duration }}" {% else %} 6 {% endif %}
										name="courseDuration" id="cDuration" placeholder="Duration" aria-describedby="cDuration" required>
									</div>
									</div>
									<div class="col-md-6 mb-3">
										<label for="cCost">Cost (INR)</label>
										<input type="number" class="form-control" value= {% if editCourse %} "{{editCourse.cost}}" {% else %} 10000 {% endif %}
										name="courseCost" id="cCost" placeholder="Cost" required>
									</div>
								</div>

									<input type="hidden" value= {% if editCourse.id %} "{{editCourse.id}}" {% endif %} name="courseId" />
									<button class="btn btn-primary" type="reset">Reset</button>
									<button id="toContent" class="btn btn-primary" type="submit">Proceed</button>
									</form>
								</div>
								<div {% if isCourseContent  %} class="tab-pane active" {% else %} class="tab-pane" {% endif %} id="addContent">
									{% include "create_content.html" %}	
								</div>
								<div class="tab-pane" id="courseFromCourses">
										{% include "create_courseFromCourses.html" %}		
								</div>
						</div>
				</div>
		</div>
</div>
<script>

      function readURL(input,imgId) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#'+imgId)
                    .attr('src', e.target.result)
                    .width(100)
                    .height(100);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

{% endblock %}