
<!--
@ToDo items:
1. Create New course dropdown should collapse on nav collapse, expand on nav-expand
2. dropdown to mark links active whose page is currently open.
3. Disable create content until course description gets filled.


-->
{% extends "__user_base.html" %}
{% load staticfiles %}
{% block active %}
<nav id="courseNavBar" class="navbar">
<div class="mr-lg-auto">
<ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
	<li class="breadcrumb-item active">
			{% if editCourse %}
			Edit Course / {{ editCourse.name }}
			{%  else %}
			Create New Course 
		{% endif %}
	</li>

	<!--<button class="btn btn-sm btn-success float-right" style="position:absolute;right:10rem;">Preview Course</button>-->
</ol>
</div>
<form class="form-inline" action="{% url 'provider:publish_course' %}" id="publishCourse" 
onSubmit="if(!confirm('Do you want to submit and publish this course ?')){return false;}"  method="post" enctype="multipart/form-data"> {% csrf_token %}
	<input type="hidden" name="courseId" value="{{editCourse.id}}" />
	<button class="btn btn-lg btn-success float-right" {% if not editCourse %} disabled {% endif %} type="submit">Publish Course</button>
</form>
</nav>
<div class="container">
		<div class="row my-2">
				<div class="col-lg-8 order-lg-2">
						<ul class="nav nav-tabs">
								{% if not editCourse and allCoursesCount > 1 %}
								<li class="nav-item">
									<a href="" data-target="#courseFromCourses" data-toggle="tab" 
									class= "nav-link" >Create Course From Courses</a>
								</li>
								{% endif %}
								<li class="nav-item">
										<a href="" data-target="#courseDescription" data-toggle="tab" 
										class= {% if isCourseContent %} "nav-link" {% else %} "nav-link active" {% endif %} >Add Course Description</a>
								</li>
								<li class="nav-item">
										<a href="" data-target="#addContent" data-toggle="tab" 
										class= {% if editCourse %} {% if isCourseContent %} "nav-link active" {% else %} "nav-link" {% endif %} {% else %} "nav-link disabled" {% endif %}>Add Content</a>
								</li>
						</ul>
						<div class="tab-content py-4">
								<div {% if isCourseContent %} class="tab-pane" {% else %} class="tab-pane active" {% endif %} id="courseDescription">
									<form action="{% url 'provider:create_course' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
										<div class="form-row">
		  								<div class="col-md-4 mb-3">
												<label for="cName">Course Name</label>
												<input type="text" class="form-control" value= {% if editCourse %} "{{ editCourse.name }}" {% else %} "" {% endif %}
													name="courseName" id="cName" placeholder="Course Name" required>
											</div>
										<div class="col-md-4 mb-3">
											<label for="cExam">Select Exam</label>
											<select class="form-control" name="courseExam" id="cExam" data-live-search="true" {% if editCourse and editCourse.exam != ""  %} readonly {% endif %} required>
												{% if editCourse and editCourse.exam != "" %}
												<option value="{{ editCourse.exam }}"selected>{{editCourse.exam}}</option>
												{% else %}
												<option value="">Select Exam</option>
												{% for x,y in allExams %}
												<option value="{{ x }}"{% if editCourse.exam == x %} selected{% endif %}>{{x}}</option>
											{% endfor %}
											{% endif %}
											</select>
										</div>
										<div class="col-md-4 mb-3">
											<label for="cSubject">Select Subject</label>
											<select class="form-control" name="courseSubject" id="cSubject" data-live-search="true" {% if editCourse and editCourse.subjects != "" %} readonly {% endif %} required multiple>
												{% if editCourse and editCourse.subjects != "" %}
													{% if editCourseSubjects %}
														{% for subj in editCourseSubjects %}
														<option value="{{ editCourse.exam }}:{{ subj }}"selected>{{subj}}</option>
														{% endfor %}
													{% else %}
													<option value="{{ editCourse.exam }}:{{ editCourse.subjects }}"selected>{{editCourse.subjects}}</option>
													{% endif %}
												{% else %}
												<option value="">Select Subject</option>
												
											{% for examKey,subjectVals in allSubjects.items  %}
												{% for subj in subjectVals %}
													{% if subj == editCourse.subjects %}
													<option value="{{ examKey }}:{{subj}}" selected>{{subj}}</option>
													{% endif %}
													{% if examKey != editCourse.exam %}
													<option value="{{ examKey }}:{{subj}}" hidden>{{subj}} </option>
													{% else %}
													<option value="{{ examKey }}:{{subj}}">{{subj}}</option>
													{% endif%}
												{% endfor %}
											{% endfor %}
											{% endif %}
											</select>
										</div>
								</div>
								<div class="form-row">
									<div class="col-md-12 mb-3">
										<label for="cDescription">Description</label>
										<textarea class="form-control" name="courseDescription" id="cDescription" placeholder="Fill Course Description" rows="3">{% if editCourse %}{{editCourse.description}}{% endif %}</textarea>
									</div>
								</div>
								<div class="form-row">
										<div class="col-md-6 mb-3">
									<label for="cDuration">Course Duration</label>
									<div class="input-group">
										<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroupPrepend3">#</span>
										</div>
										<input type="number" class="form-control" value= {% if editCourse %} "{{ editCourse.duration }}" {% else %} 0 {% endif %}
										name="courseDuration" id="cDuration" placeholder="Duration Months" aria-describedby="cDuration" required>
									</div>
									</div>
									<div class="col-md-6 mb-3">
										<label for="cCost">Cost</label>
										<input type="number" class="form-control" value= {% if editCourse %} "{{editCourse.cost}}" {% else %} 0 {% endif %} 
										name="courseCost" id="cCost" placeholder="Enter Cost" required>
									</div>
								</div>
								<div class="form-group">
									<div class="form-check">
										<input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required {% if editCourse %} checked {% endif %}>
										<label class="form-check-label" for="invalidCheck3">
											Agree to terms and conditions
										</label>
										<div class="invalid-feedback">
											You must agree before submitting.
										</div>
									</div>
								</div>
									<input type="hidden" value= {% if editCourse.id %} "{{editCourse.id}}" {% endif %} name="courseId" />
									<button class="btn btn-primary" type="reset">Reset</button>
									<button id="toContent" class="btn btn-primary" type="submit">Proceed to Next</button>
									</form>
								</div>
								<div {% if isCourseContent  %} class="tab-pane active" {% else %} class="tab-pane" {% endif %} id="addContent">
									{% include "create_content.html" %}		
								</div>
								<div class="tab-pane" id="courseFromCourses">
										{% include "create_courseFromCourses.html" %}		
									</div>
						</div>
				</div>
		</div>
</div>
<script src="{% static 'provider/js/createCourseContent.js' %}"></script>


{% endblock %}