{% extends "__user_base.html" %}
{% load staticfiles %}

{% block active %}
<script src="{% static 'provider/js/0.3/alasql.min.js' %}"></script>
<script src="{% static 'provider/js/0.7.12/xlsx.core.min.js' %}"></script>

<script>

function exportExcel(tabs,courseNames) {
    var datas = [];
    var opts = [];
    for (var i = 0; i < tabs.length; i++) {
      var sql = 'SELECT * FROM HTML("#'+ tabs[i] + '",{headers:true})';
      var data = alasql(sql);
      datas.push(data);
      var opt = {sheetid:courseNames[i],header:true};
      opts.push(opt);
    }
    var res = alasql('SELECT INTO XLSX("my_students.xlsx",?) FROM ?',[opts,datas]);
    }

function calltablestoexcel() {
  var tables = document.querySelectorAll('*[id^="studentsTable"]');
  var tabs = [];
  var courseNames = [];
  var j=1;
  for (var i=0;i<tables.length;i++) {
    tabs.push(tables[i].id);
    var courseid = tables[i].id.split('-')[1]
    var test = document.getElementById('courseName'+courseid);
    var courseName = test.innerText;
    j=j+1;
    courseNames.push(courseName);
  }
  exportExcel(tabs,courseNames);
  //tablesToExcel(tabs, courseNames, 'students.xls', 'Excel');
}

function createTable(students,courseid,coursename) {
  $("#exampleModal").modal('hide');
  var body = document.getElementById('students');
  var h6 = document.createElement('h6');
  h6.setAttribute("id", "courseName"+courseid);
  h6.textContent = coursename;
  h6.innerText = coursename;
  body.appendChild(h6);
  var tbl = document.createElement('table');
  tbl.style.width = '100%';
  tbl.setAttribute("class", "table table-striped table-bordered w-auto text-xsmall");
  tbl.setAttribute("id", "studentsTable-"+courseid);
  var thead = document.createElement('thead');
  var tr = thead.insertRow();

  var th1 = document.createElement('th');
  th1.setAttribute("scope", "column");
  th1.textContent = "#";
  var th2 = document.createElement('th');
  th2.textContent = "Name";
  var th3 = document.createElement('th');
  th3.textContent = "Joined on";
  var th4 = document.createElement('th');
  th4.textContent = "Status";
  var th5 = document.createElement('th');
  th5.textContent = "Available (hrs)";
  var th6 = document.createElement('th');
  th6.textContent = "Viewed (mins)";

  tr.appendChild(th1);
  tr.appendChild(th2);
  tr.appendChild(th3);
  tr.appendChild(th4);
  tr.appendChild(th5);
  tr.appendChild(th6);

  tbl.appendChild(thead);
  var tbody = document.createElement('tbody');

  for (var i=0; i <students.length; i++) {
    var student = students[i];
    var tr = tbody.insertRow();
    var td = tr.insertCell();
    td.textContent = i+1;

    td = tr.insertCell();
    td.textContent = student.name;
    td = tr.insertCell();
    td.textContent = student.enrolled_date;
    td = tr.insertCell();
    td.textContent = student.remarks;

    td = tr.insertCell();
    if (student.viewhours > 0)
      td.textContent = student.viewhours;
    else
      td.textContent = "NA";

    td = tr.insertCell();
    if (student.viewhours > 0)
      td.textContent = student.completedminutes;
    else
      td.textContent = "NA";

    td = tr.insertCell();
    var innerhtml = "<a class=\"btn btn-primary\" href=\"{% url 'provider:add_students' 0 %}\" title=\"Edit Access\"></a>";
    td.innerHTML = innerhtml.replace("0", student.id);

    td = tr.insertCell();
    innerhtml = "<a class=\"btn\" href=\"{% url 'provider:export_studentdata' 0 %}\" title=\"Export Student Data\"><div style=\"font-size: 12px;\"><i class=\"fa fa-download fa-lg\" style=\"color:black\" ></i></div></a>";
    td.innerHTML = innerhtml.replace("0", student.id);
  }

  tbl.appendChild(tbody);
  body.appendChild(tbl);
}

function loadCourse() {
 
 var body = document.getElementById('students');
 body.innerHTML = "";

 var courseid = document.getElementById("courses").value;
 if (courseid == "0")
    return;
    
  $("#exampleModal").modal('show');
  var coursename = $("#courses").find("option:selected").text();
 var url = window.location.protocol + "//" + window.location.hostname;
 var isDebug = "{{debug}}";
 if (isDebug) {
	url = url + ":" + window.location.port;
 }

  url = url + "/cdn/providerStudents/0/0/" + courseid;
  var xmlHttp = new XMLHttpRequest();
  xmlHttp.open("GET", url, true);

  xmlHttp.onreadystatechange = function () {
    $("#exampleModal").modal('hide');
        if (xmlHttp.readyState == 4) {
            if (xmlHttp.status == 200) {
              var data = JSON.parse(xmlHttp.responseText);
				      if (data.status == false) {
                return;
              }
				      createTable(data.students,courseid,coursename);
            }
        }
    };

  xmlHttp.send();
  
}

</script>
  <!-- Breadcrumbs-->
<nav class="navbar">
  <div class="mr-lg-auto">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Students</li>
  </ol>
</div>
<button onclick="calltablestoexcel()" class="btn btn-outline-info btn-md mx-2 px-2" aria-pressed="true"><i class="far fa-file-excel"></i> Export data</button>

</nav>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Loading Students</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Loading Data. Please wait...
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid">
  <div class="row">
    <!-- <div class="col-1"></div> -->
    <div class="col-auto">
  <input type="text" id="filterAllStudents{{providerid}}" onkeyup="filterFunction('filterAllStudents{{providerid}}','studentsTable')" placeholder="Filter All Students..">
  <select id="courses" onchange="loadCourse()" autocomplete="off" >
    <option value="0" selected="selected">Select Course</option>
 {% for course in course_list %}
    <option value="{{ course.id }}">{{ course.name }}</option>
 {% endfor %}
 </select>
</div>
</div>  
</div>
<hr>

 <div class="container-fluid">
    <div style="overflow-x:auto;" id = "students">

    </div>
    </div>
    <script src="{% static 'provider/js/createCourseContent.js' %}">

    </script>
{% endblock active %}