{% extends "__user_base.html" %}
{% load staticfiles %}

{% block active %}

 <!-- Breadcrumbs-->
<nav class="navbar">
  <div class="mr-lg-auto">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Stastics</li>
  </ol>
</div>
</nav>

 <table style="width:50%">
   <tr>
    <td><b>Plan Cost (Rs)<b></td>
    <td>{{ plan.cost }}</td>
  </tr>
  <tr>
    <td><b>Start<b></td>
    <td>{{ plan.startdate }}</td>
  </tr>
  <tr>
    <td><b>Expiry<b></td>
    <td>{{ plan.expiry }}</td>
  </tr>
   <tr>
    <td><b>Total Bandwidth (GB)<b></td>
    <td>{{ plan.bandwidth }}</td>
  </tr>
  <tr>
    <td><b>Bandwidth Consumed (GB)<b></td>
    <td>{{ stats.bandwidth }}</td>
  </tr>
  <tr>
    <td><b>Total Storage Space (GB)<b></td>
    <td>{{ plan.space }}</td>
  </tr>
  <tr>
    <td><b>Storage Space Consumed (GB)<b></td>
    <td>{{ stats.storage }}</td>
  </tr>
</table>

{% endblock active %}