{% extends "__user_base.html" %}
{% load staticfiles %}

{% block active %}

 <!-- Breadcrumbs-->
<nav class="navbar">
  <div class="mr-lg-auto">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Stats and Plan details</li>
  </ol>
</div>
</nav>
<div style="overflow-x:auto;" id = "myStats">
 <table style="width:50%">
   <tr>
    <td><b>Plan Cost (Rs)<b></td>
    <td>{{ plan.cost }}</td>
  </tr>
  <tr>
    <td><b>Plan Start Date<b></td>
    <td>{{ plan.startdate }}</td>
  </tr>
  <tr>
    <td><b>Plan Expiry<b></td>
    <td>{{ plan.expiry }}</td>
  </tr>
   <tr>
    <td><b>Alloted Bandwidth (GB)<b></td>
    <td>{{ plan.bandwidth }}</td>
  </tr>
  <tr>
    <td><b>Bandwidth Consumed (GB) <font color="red">(Stored Files)<b></font></td>
    <td>{{ stats.bandwidth }}</td>
  </tr>
  <tr>
    <td><b>Bandwidth Consumed (GB) <font color="red">(Live)<b></font></td>
    <td>{{ liveText }}</td>
  </tr>
  <tr>
    <td><b>Alloted Storage (GB)<b></td>
    <td>{{ plan.space }}</td>
  </tr>
  <tr>
    <td><b>Storage Space Consumed (GB)<b></td>
    <td>{{ stats.storage }}</td>
  </tr>

</table>
</div>

{% endblock active %}