
{% extends "__user_base.html" %}
{% load staticfiles %}

{% block active %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Notifications/</li>
  </ol>
  <div class="text-center">
         {% for n in notifications %}
        <span>
			    {% if n.notification == 100 %}
          <strong><i class="fa fa-long-arrow-up fa-fw"></i>Course Published</strong>
          <div class="small">Course {{ n.args }} is published.</div>
				{% endif %}
				{% if n.notification == 101 %}
          <strong><i class="fa fa-long-arrow-up fa-fw"></i>Device Added</strong>
          <div class="small">A new device is authorized to your account.</div>
				{% endif %}
				{% if n.notification == 102 %}
          <strong><i class="fa fa-long-arrow-up fa-fw"></i>Email not Verified</strong>
          <div class="small">Your email {{ n.args }} is not verified. Go to your email and click the verification link.</div>
				{% endif %}
        </span>
       {% endfor %}
{% endblock active %}

