{% extends "__ecBase.html" %}

<html>
    {% load staticfiles %}

	{% block ImageSlider %}
    {% endblock ImageSlider %}

    {% block jumbotronBlock %}
    {% endblock jumbotronBlock %}

    {% block container %}

	{% block content %}
	<div class="container">
        <div class="text-center" style="height:80%">
            <h1><font id="para" style="color: green">
				{% if device_type %}
				Your device is successfully authorized on your {{device_type }} and browser {{browser}}
				{% endif %}
			</font></h1>
        </div>
    </div>

	<script src="{% static 'access/access.js' %}"></script>
	<script type="text/javascript">
	/*
	window.onload = function() {
		
	var deviceJSON = getFontsInstalled();
	var deviceJSON = "DUMMY STRING";
	var challengeBytes = encodeURIComponent("{{challenge}}")
	var url = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + "/access/challenge/" + challengeBytes + "/" + deviceJSON;
	var xmlHttp = new XMLHttpRequest();
	xmlHttp.open("GET", url, false);
    xmlHttp.send(null);
	
	var accepted = (/True/).test(xmlHttp.responseText);
	if (accepted){
	  document.getElementById("para").innerHTML = "Your device is successfully authorized";
	  document.getElementById("para").color = "green";
	}
	else {
	  document.getElementById("para").innerHTML = "Your device could not be authorized";
	  document.getElementById("para").color = "red";
	}
	}*/
	</script>
	{%  endblock %}
	{%  endblock container %}
</html>

