{% extends "__ecBase.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% block ImageSlider %}
{% endblock ImageSlider %}
 
{% block jumbotronBlock %}
<form method="post" action=""> {% csrf_token %}
<div class="container-fluid" >
    <div class="row " style="background-color:mediumturquoise">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <h4>Total <strong> ' {{cartCourses|length}} ' </strong> items in cart</h4>
            </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <button name="checkout" type="submit" class="btn btn-lg btn-dark">Checkout</button>
        </div> 
    </div>
</div>
{% endblock jumbotronBlock %}

{% block container %}

<div class="container-fluid">
    {% if cartCourses|length > 0 %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">Provider</th>
            <th scope="col">Price</th>
            
          </tr>
        </thead>
        <tbody>
        {% for cartCourse in cartCourses %}
           <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><img id="coursePic" src="{% thumbnail cartCourse.picture|default:'default_profile.png' 50x50 crop %}" alt="avatar">
                {{cartCourse.name}}</td>
            <td>{{cartCourse.provider_name }}</td>
            <td> <i class="fas fa-rupee-sign" aria-hidden="true"></i> {{cartCourse.cost}}  </td>
            <td><a href="{% url 'student:delete_from_cart' cartCourse.id %}" title="Remove from cart"><i class="fas fa-trash" style="color: black"></i></a></td>
          </tr>
          {% endfor %}
            <tr>
            <th scope="row"></th>
            <td colspan="2">
               <h4> Subtotal</h4></td>
                <td><i class="fas fa-rupee-sign" aria-hidden="true"></i>  {{tcost}}</td>
            </tr>          
        </tbody>
      </table>
    
    {% else %}
    <h5>No Courses in your cart</h5>
    {% endif %}
</div>
<hr>
</form>
{%  endblock container %}

{% block scripts %}
<script>
</script>
{% endblock scripts %}