{% extends "__user_base.html" %}
{% load staticfiles %}

{% block active %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Cart</li>
	</ol>

	{% if not user.is_staff %}
	  <form method="post" action="">
        {% for course in courses %}
		  <input type="checkbox" name="courses[]" value="{{ course.id }}"</input>
		  <label for="option"><a href="{% url 'provider:course_detail' course.id %}">{{ course.name }}</a></label><br>
		{% endfor %}
		{% csrf_token %}
		<div class="form-group">
	  		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-success">Checkout</button>
			</div>
 		 </div>
	  </form>
	{% endif %}
    
{% endblock active %}