{% extends "__ecBase.html" %}

{% load crispy_forms_tags %}

{% block ImageSlider %}
{% endblock ImageSlider %}

{% block jumbotronBlock %}
{% endblock jumbotronBlock %}

{% block container %}

{% block content %}
<div class="text-center">
 <h3>Pay using PayPal</h3>
</div>
<div class="text-center">
 {{ form.render }}
</div>
{% endblock %}

{% block active %}
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
  </ol>

	{% include "__baseCourseTiles.html" with allCourses=courses divId="CheckedOutCourses" category="Checked Out Courses" %}
									
    
{% endblock active %}
{% endblock container %}